{% load i18n %}<?xml version='1.0' encoding='{{gpress.site.read_encoding}}' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="{{gpress.user.language}}" lang="{{gpress.site.language}}">
  <head>
    <meta http-equiv="Content-Type"   content="text/html; charset={{gpress.site.read_encoding}}" />
    <meta http-equiv="Content-Language" content="{{gpress.user.language}}" />
    
    <title>{{gpress.site.title}} :: {{gpress.page.title}}</title>
    
    <meta name="date"           content="{{gpress.page.date}}" />
    <meta name="title"          content="{{gpress.page.title}} :: {{gpress.site.title}}" />
    <meta name="keywords"       content="{{gpress.site.keywords}}" />
    <meta name="description"    content="{% firstof gpress.page.description|striptags|truncatewords:32 gpress.page.body|striptags|truncatewords:32 %} - {{gpress.site.description|truncatewords:144}}" />
  
    <meta name="googlebot"      content="{{gpress.site.googlebot}}" />
    <meta name="robots"         content="{{gpress.site.robots}}" />
    <meta name="revisit-after"  content="{{gpress.site.revisit_after}}" />
    <meta name="last-update"    content="{{gpress.site.last_update}}" />
  
    <meta name="subject"        content="{{gpress.site.description}}" />
    <meta name="author"         content="{{gpress.site.author}} &lt;{{gpress.site.author_mail}}&gt;" />
    <meta name="publisher"      content="{{gpress.site.publisher}}" />
    <meta name="reply-to"       content="{{gpress.site.reply_to}}" />
    
    <meta name="generator"      content="{{gpress.site.generator|truncatewords:10}}" />
    
    <meta name="language"       content="{{gpress.user.language}}" />
    <meta name="site-language"       content="{{gpress.site.language}}" />
    
    <meta name="verify-v1"      content="{{gpress.site.google_verify}}" />
    <meta name="msvalidate.01"  content="{{gpress.site.live_verify}}" />
    
    <link rev="made"            href="mailto:gpress-dev@coolminds.org" />
    <link rel="shortcut icon"   href="{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-logo-icon.png" type="image/png" />
    
    {% if gpress.got_feed %}
       <link rel="alternate"  href="/feeds/{{gpress.controller}}"    type="application/rss+xml" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} RSS feed" />
       <link rel="alternate"  href="/xml/{{gpress.controller}}"    type="application/xml" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} XML feed" />
       <link rel="alternate"  href="/json/{{gpress.controller}}"    type="text/json" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} JSON feed" />
    {% endif %}
    
      <style>{% filter jscompress %}
/*
Copyright (c) 2009, Geezmo Laboratory All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 0.0.3
*/
/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup,sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

/*
Copyright (c) 2009, Coolminds Laboratory All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
*/

strong
{
  font-weight: bold;
}

/* MAIN */
body
{
  color: #5a575b;

  line-height:1;
  font-family: arial, sans-serif;
  font-size: 13px;

  //-webkit-background-clip: border-box;
  //-webkit-background-origin: padding-box;


  background-image: url('/themes/29b/static/images/29b-body-background.jpg');
  background-position: bottom center;
  background-attachment:fixed;
  background-repeat: no-repeat;

  display: block;
}

a, a:active, a:hover
{
  color: #bc47ff;
  text-decoration: none;
}

a:active
{
  text-decoration: underline;
}

a:hover
{
  color: #dea0fe;
  text-decoration: underline;
}

.text-right
{
  text-align: right;
}

#bb-29b-main-container
{
}

#bb-29b-container
{
  margin: 20px auto 0px auto;
  padding: 13px 9px;
  width: 813px;
  height: 563px;
  background-image: url('/themes/29b/static/images/29b-container-box.png');
}

#bb-29b-header
{
  min-height: 221px;
  width: 800px;
  background-image: url('/themes/29b/static/images/page-guestbook.png');
  background-position: 53px bottom;
  background-repeat: no-repeat;
}

#bb-29b-menu-shadow
{
  min-height: 221px;
  background-image: url('/themes/29b/static/images/29b-menu-sfumatura.png');
  background-repeat: repeat-y;
  background-position: 53px 2px;
}

.bb-29b-menu-bar a
{
  display: block;
  height: 20px;
  min-width: 20px;
  padding: 4px;
}


.bb-29b-menu-bar
{
  font-family: impact;
  background-image: url('/themes/29b/static/images/29b-menu-bar.png');
  background-repeat: no-repeat;
  margin-top: 15px;
  height: 25px;
  text-align: right;
  color: white;
  width: 180px;
  padding: 0px 15px 0px 0px;
}

#bb-29b-content
{
/*
  background-color: #ffffff;
------- SFONDO BIANCO O TRASPARENTE???
*/
  height: 203px;
  width: 705px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 27px;
  padding-top: 10px;
  text-align: justify;
  overflow: auto;
  margin-left: 48px;
  line-height: 14px;
}

#bb-29b-footer
{
  margin-top: 29px;
  font-family: impact;
}

#bb-29b-footer-table
{
  width: 100%;
}

#bb-29b-footer-table a,
#bb-29b-footer-copyright a:hover,
#bb-29b-footer-copyright a:visited,
#bb-29b-footer-copyright a:active
{
  color: #5a575b;
}

#bb-29b-footer-table td
{
  text-align: center;
  word-spacing: 5px;
}

#bb-29b-footer-copyright
{
  font-family: arial;
  font-size: 10px;
  margin-top: 20px;
  text-align: center;
}

#bb-29b-footer-copyright a,
#bb-29b-footer-copyright a:hover,
#bb-29b-footer-copyright a:visited,
#bb-29b-footer-copyright a:active
{
  color: #bc47ff;
  text-decoration: none;
}

#bb-29b-main-logo
{
  position: fixed;
  margin-left: 3%;
  margin-top: 55px;
  z-index: -1;
}

#bb-29b-links-table
{
  width: 100%;
}

#bb-29b-links-table td
{
  text-align: center;
}

.bb-29b-link-description
{
  text-align: justify;
/*  margin: 0px auto 10px auto;
  border: 1px dotted #bc47ff;*/
}

#bb-29b-files-list-box
{
  text-align: left;
  margin: 0 auto;
}

#bb-29b-files-list
{
  text-align: left;
  margin: 0 auto;
}

.bb-29b-file-description
{
  text-align: justify;
  margin: 0px auto 10px auto;
  border: 1px dotted #bc47ff;
}

.bb-29b-gallery a
{
  float: left;
}

.bb-29b-gallery img
{
  margin: 5px 5px;
  padding: 5px 5px;
  border: 1px solid #cccccc;
  display: inline;
}

.bb-29b-contacts-table
{
  width: 100%;
}

.bb-29b-contacts-table td
{
  padding: 50px 50px 0px 50px;
}

h2
{
  font-size: 14px;
  font-weight: bold;
  font-family: tahoma;
  color: #111111;
  margin: 3px 0px;
}

h1
{
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin: 5px 0px;
}

#intro-text
{
  text-align: right;
  padding: 30px 5px 30px 0px;
  font-family: impact;
  font-size: 30px;
  color: #df33b3;
  float: right;
}

#intro-header
{
  padding: 30px 0px 30px 5px;
  float: left;
}

* a:hover
{
  text-decoration: none;
}


.bb-29b-article-image
{
  -moz-box-shadow: 4px 4px 7px #888;
  -webkit-box-shadow: 4px 4px 7px #888;
  box-shadow: 4px 4px 7px #888;
}

.bb-29b-article
{

}


.bb-29b-article td
{
vertical-align: top;
padding: 25px;
}

.bb-29b-article p
{
vertical-align: top;
padding: 3px;
}

.bb-29b-article-content
{
  width: 100%;
}







.bb-29b-links-table
{
  width: 100%;
  font-family: tahoma;
}

.bb-29b-links-title
{
  display:inline;
}

.bb-29b-links-line
{
  width: 100%;
  border-top:2px dotted #777777;
  float:right;
}

.bb-29b-links-table td
{
  vertical-align: bottom;
  padding: 7px;
  text-align: left;
}

.bb-29b-links-image
{
  width: 78px;
  text-align: center;
}

.bb-29b-links-table h2,
.bb-29b-links-table a,
.bb-29b-links-table a:active,
.bb-29b-links-table a:hover,
.bb-29b-links-table a:visited
{
  color: #777777;
  font-weight: bold;
  font-size: 14px;
}


.bb-29b-links-table h2
{
  font-size: 12px;
}

.bb-29b-links-table a
{
  float: left;
}



.bb-29b-link h2,
.bb-29b-link a,
.bb-29b-link a:active,
.bb-29b-link a:hover,
.bb-29b-link a:visited
{
  color: #777777;
  font-weight: bold;
}


.bb-29b-link-image
{
  -moz-box-shadow: 4px 4px 7px #888;
  -webkit-box-shadow: 4px 4px 7px #888;
  box-shadow: 4px 4px 7px #888;
}

.bb-29b-link
{

}

.bb-29b-link td
{
vertical-align: top;
padding: 25px;
}

.bb-29b-link p
{
vertical-align: top;
padding: 3px;
}

.bb-29b-link-content
{
  width: 100%;
}
#lightwindow_overlay
{
  background-color: #ccc;
  opacity: 0.1;
  filter:alpha(opacity=0.1);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
}
#lightwindow_title_bar_title
{
  color: red;
}
      {% endfilter %}
      {#{% fopen "/shared/css/gpress-reset.css" %}#}
      {#{% fopen "/themes/29b/static/css/29b.css" %}#}
      {#{% fopen "/shared/tools/lightwindow/css/lightwindow.css" %}#}
      </style>
      <link rel="stylesheet" media="all"  href="/shared/tools/lightwindow/css/lightwindow.css" type="text/css" />

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">//<![CDATA[
    (function(){ {% filter jscompress %}
      try{
        google.load('prototype', '1');
        google.load('scriptaculous', '1');
        }catch(e){
        }
    {% endfilter %}})();//]]></script>
      {#<script type="text/javascript">/*<![CDATA[*/{% jsfilecompress "/shared/javascript/gpress.js" %}/*]]>*/</script>#}
      {#<script type="text/javascript">/*<![CDATA[*/GP.Bootstrap();/*]]>*/</script>#}
      {#<script type="text/javascript">/*<![CDATA[*/{% jsfilecompress "/themes/29b/static/javascript/menu.js" %}/*]]>*/</script>#}
      {#<script type="text/javascript">/*<![CDATA[*/{% jsfilecompress "/themes/29b/static/javascript/slideshow.js" %}/*]]>*/</script>#}
      <script src="/shared/tools/lightwindow/javascript/lightwindow.js" type="text/javascript">/*<![CDATA[*/{#{% jsfilecompress "/shared/tools/lightwindow/javascript/lightwindow.js" %}#}/*]]>*/</script>
      
      <script type="text/javascript">/*<![CDATA[*/{% filter jscompress %}
var GPress = {}

GPress.Strings = {}

GPress.Strings.Trim = function (s){
  return s.replace(/^\s\s*/, '').replace(/\s\s*$$/, '');
}

GPress.IncludedResources = function() {
  return {'TinyMCE': false}
}

GPress.GenerateToken = function () {
  this.current_token = Math.random();
  return Math.random();
}

GPress.PrintToken = function () {
  if ( typeof this.current_token == "undefined" )
    this.GenerateToken();
  alert(this.current_token);
}

GPress.GetXHR = function () {
  if (typeof XMLHttpRequest != "undefined") {
    return new XMLHttpRequest();
  }
  try { return new ActiveXObject("Msxml2.XMLHTTP.6.0") } catch(e) {}
  try { return new ActiveXObject("Msxml2.XMLHTTP.3.0") } catch(e) {}
  try { return new ActiveXObject("Msxml2.XMLHTTP") } catch(e) {}
  try { return new ActiveXObject("Microsoft.XMLHTTP") } catch(e) {}
  return null;
}

GPress.IncludeScript = function (script, text) {
if (document.createElement && document.getElementsByTagName) {
     var ScriptElement = document.createElement('script');
     ScriptElement.setAttribute('type', 'text/javascript');
     
     if ( ! GPress.Empty(script) )
      ScriptElement.setAttribute('src', script);
      
     if ( ! GPress.Empty(text) )
      ScriptElement.innerHTML = text;
     
     var head = document.getElementsByTagName('head')[0];
     head.appendChild(ScriptElement);
     return ScriptElement;
 }
}
//GPress.IncludeScript('http://tinymce.moxiecode.com/js/tinymce/jscripts/tiny_mce/tiny_mce.js');
GPress.Bootstrap = function () {
  /* Detect textareas
   */
  Event.observe(window, 'load', function () {
    if ( ( $$('textarea.mceEditor').length || $$('textarea.mceRichText').length || $$('textarea.mceLightEditor').length ) && ! GPress.IncludedResources().TinyMCE )
    {
        GPress.IncludedResources.TinyMCE = true;
        GPress.TinyMCE();
    }
    
    Tables = $$('table.gpress-admin-table-list')
    if ( Tables.length )
      GPress.ProcessTables(Tables);
    
    ElementsToHide = $$('.javascript_hide');
    ElementsToHide.each(function(element){
      element.setStyle({display:'none'});
    });
    
    Tabs = $$('.tabs');
    Tabs.each(function(element){
      new Control.Tabs(element);
    });
    
                                              
                                          var tabs_example_two = new Control.Tabs('tabs_example_two',{  
                                              afterChange: function(new_container){  
                                                  new Array($$('tabs_example_two_select').options).each(function(option,i){  
                                                      if(option.value == new_container.id){  
                                                          $$('tabs_example_two_select').options.selectedIndex = i;  
                                                          throw $$break;  
                                                      }  
                                                  });  
                                              }  
                                          });  
                                          $$('tabs_example_two_select').observe('change',function(){  
                                              tabs_example_two.setActiveTab($$('tabs_example_two_select').value);  
                                          });  
                                          $$('tabs_example_two_first').observe('click',function(event){  
                                              this.first();  
                                              Event.stop(event);  
                                          }.bindAsEventListener(tabs_example_two));  
                                          $$('tabs_example_two_previous').observe('click',function(event){  
                                              this.previous();  
                                              Event.stop(event);  
                                          }.bindAsEventListener(tabs_example_two));  
                                          $$('tabs_example_two_next').observe('click',function(event){  
                                              this.next();  
                                              Event.stop(event);  
                                          }.bindAsEventListener(tabs_example_two));  
                                          $$('tabs_example_two_last').observe('click',function(event){  
                                              this.last();  
                                              Event.stop(event);  
                                          }.bindAsEventListener(tabs_example_two));  
    
  });
}

GPress.TinyMCE = function () {
  tinyMCE.init({
    mode : "exact",
      mode : "specific_textareas",
      editor_selector : /(mceEditor|mceRichText)/,
    theme : "advanced",
    skin : "o2k7",
    skin_variant : "black",
    plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,imagemanager,filemanager",
    theme_advanced_buttons1 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
    theme_advanced_buttons2 : "tablecontrols,|,hr,removeformat,visualaid,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote",
    theme_advanced_buttons3 : "cut,copy,paste,pastetext,pasteword,|,undo,redo,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen,|,insertdate,inserttime,preview",
    theme_advanced_buttons4 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontsizeselect,link,unlink,anchor,image,cleanup,help,code",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom",
    theme_advanced_resizing : true,
    template_replace_values : {
    username : "Some User",
    staffid : "991234"
}
});

  tinyMCE.init({
    mode : "exact",
      mode : "specific_textareas",
      editor_selector : /(mceLightEditor)/,
    theme : "simple",
    skin : "o2k7",
    skin_variant : "black",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom",
    theme_advanced_resizing : true
});/*
  tinyMCE.init({
      //mode : "textareas",
      mode : "specific_textareas",
      editor_selector : /(mceEditor|mceRichText)/,
     theme : "advanced",
      skin : "o2k7",
     skin_variant : "black",
     plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,imagemanager,filemanager",theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontsizeselect",
      theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
      theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
      theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true,
      template_external_list_url : "http://tinymce.moxiecode.com/js/template_list.js",
      external_link_list_url : "http://tinymce.moxiecode.com/js/link_list.js",
      external_image_list_url : "http://tinymce.moxiecode.com/js/image_list.js",
      media_external_list_url : "http://tinymce.moxiecode.com/js/media_list.js"
       });*/
}

GPress.ProcessTables = function (tables) {
  SelectAllCheckBox = $$('th.select_all-box');
  SelectAllCheckBox.each(function(i, item){
    item.innerHTML = '<input class="select_all" type="checkbox" name="'+item.id+'" value="1" />';
  });
  var statuses = {};
  SelectAllCheckBox = $$('input.select_all');
  SelectAllCheckBox.each(function(i, item){
    statuses[item.name] = false;
    item.checked = status;
    item.observe('click', function(i){
      if ( statuses[item.name] ) statuses[item.name] = false;
      else statuses[item.name] = true;
      AllCheckBox = $$('input.'+item.name+'');
      AllCheckBox.each(function(i){
        i.checked = statuses[item.name];
        SwitchRowColor(i.parentNode.parentNode);
      });
      SelectAllCheckBox.each(function(it){
        it.checked = statuses[item.name];
      });
    });
  });
  
  
  GetRowCheckBox = function(row){
    return row.childNodes[1].firstChild;
  }
  
  SwitchRow = function(row){
      cb = GetRowCheckBox(row)
      if ( cb.checked )
        cb.checked = false;
      else
        cb.checked = true;
  }
  
  SwitchRowColor = function(row){
      cb = GetRowCheckBox(row)
      if ( cb.checked ) {
        row.addClassName('gpress-admin-table-active-row');
        row.removeClassName(row.name);
      } else {
        row.addClassName(row.name);
        row.removeClassName('gpress-admin-table-active-row');
      }
  }
  
  ProcessTableRows = function (rows){
    rows.each(function(i, item){
      item.name = item.className;
      id = item.id;
      key = id.substring(4);
      item.observe('click', function(){
        SwitchRow(item);
        SwitchRowColor(item);
      });
      item.observe('dblclick', function(){
        window.location.href = document.getElementById('link_'+key).href;
      });
      cb = GetRowCheckBox(item);
      cb.setStyle({display: 'none'});
      cb.parentNode.setStyle({width: '10px'});
    });
  }

  TableRows = $$('tr.gpress-admin-table-row');
  TableAltRows = $$('tr.gpress-admin-table-alt-row');
  ProcessTableRows(TableRows);
  ProcessTableRows(TableAltRows);
}

GPress.Empty = function (v) {
      return (typeof v == 'undefined' || v == '' || v == null);
}

/*
Elements = $$('.javascript_hide_controller');

GPress.Controllers = {} 
GPress.Controllers.HideElements = function (elements, type='image'|'shadow') {
    elements.each(function(el) {
        var Id = el.id;
        if ( ! GPress.Empty(Id) )
            Id = el.href.substring(1);
        var ElementToHide = $$('javascript_hide_'+Id);
        ElementToHide.setStyle({display:'none'});
        Event.observe(el, 'click', function() {
            if (el.style.display == 'none')
                el.setStyle({display:'none'});
            else
                el.setStyle({display:''});
        }
    }
}
GPress.Controllers.HideElements(Elements);

Elements = $$('img.gpress-admin-table-list')
GPress.HighlightElements(Elements);

GPress.HighlightElements = function (images, type='image'|'shadow') {
* Check for element type ( se immagine usare src )
    images.each(function(image) {
        var image_filename = image.src.split('.');
        var image_name = image_filename[:1];
        var image_ext = image_filename[-1];
        Event.observe(image, 'hover', function () {
            img.src = image_name + '-active.' + image_ext;
        });
        Event.observe(image, 'out', function () {
            img.src = image_name + image_ext;
        });
    });
}*/


GP = GPress
GP.Bootstrap();
      
GPress.SlideElementDown = function(ext) {
  var MenuElements = $$('dd[class~="bb-29b-menu-bar"]');
  MenuElements.each(function(item) {
    if (item.id != 'bb-29b-menu-bar-active' && item.id != ext)
    {
        image = item.childElements()[0].childElements()[0];
        image.setStyle({
          display: 'none'
        });
        image.hide();
        item.setStyle({
          width: '10px'
        });
    }
  });
}
GPress.SlideElement = function(el, s) {
  if (el.id != 'bb-29b-menu-bar-active')
  if (s)
  {
      image = el.childElements()[0].childElements()[0];
      image.setStyle({'display': ''});
      image.show();
      //new Effect.Scale(el, 100, { duration: 3.0, scaleY: false, scaleMode: { originalWidth: 175 } });
      el.setStyle({
        width: '175px'
      });
  } else {
        image = el.childElements()[0].childElements()[0];
        image.setStyle({
          display: 'none'
        });
        image.hide();
        el.setStyle({
          width: '10px'
        });
  }
}

Event.observe(window, 'load', function() {
  /*var MenuElements = $$('dd[class~="bb-29b-menu-bar"]');
  MenuElements.each(function(item) {
    link = item.childElements()[0]
    if ( link.href != window.location ) {
      GPress.SlideElement(item,false);
      Event.observe(item, 'mouseover', function(event) {
        GPress.SlideElementDown(item.id);
        GPress.SlideElement(this,true);
      });
      Event.observe(item, 'mouseout', function(event) {
        GPress.SlideElementDown();
      });
      
      Event.observe(image, 'mouseout', function(event) {
        GPress.SlideElementDown();
      });
      
      item.id = GPress.GenerateToken();
    } else item.id = 'bb-29b-menu-bar-active';
  });*/  
});
      var IsHeaderRandomImagePresent = true;
      
      
      {% endfilter %}/*]]>*/</script>
      <!--[if lte IE 6]><style>img, div, a, input { behavior: url(/shared/tools/iepngfix.htc) }</style><![endif]-->
  </head>
<body>