<script type="text/javascript">//<![CDATA[
(function(){ {% filter jscompress %}
function SlideShow() {
  if ( IsHeaderRandomImagePresent ) {
    new Effect.Opacity('bb-29b-header', { from: 1, to: 0, duration: 0.7 });
    salt = Math.random();
    $('bb-29b-header').setStyle({backgroundImage:"url('/media/album/{{gpress.id}}/random?format=jpeg&width=713&"+salt+"')"});
    new Effect.Opacity('bb-29b-header', { from: 0, to: 1, duration: 1.5 });
  }
}
GPress.CheckHeaderRandomImageStatus = function (url) {
  // Preload Image
  (new Image()).src = '/media/album/{{gpress.id}}/random';
  var req = GPress.GetXHR();
  if (req) {
  req.onreadystatechange = function() {
  try {
    if (req.readyState == 4 && req.status == 200) {
      if ( req.getResponseHeader('X-Gpress-Content-Status') != 'False' )
      {
      IsHeaderRandomImagePresent = true;

    salt = Math.random();
    $('bb-29b-header').setStyle({backgroundImage:"url('/media/album/{{gpress.id}}/random?format=jpeg&width=713&"+salt+"')"});
    } else IsHeaderRandomImagePresent = false;
    } else if (req.readyState == 4) {
      IsHeaderRandomImagePresent = false;
    }
    } catch (ex) {
      IsHeaderRandomImagePresent = false;
    }
    }
    try {
      req.open('get', url, true);
      req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      req.send();
    } catch (ex) {
      IsHeaderRandomImagePresent = false;
    }
  }
}
// 10000
setInterval(SlideShow, 10000);
GP.CheckHeaderRandomImageStatus('/media/album/{{gpress.id}}/random?format=jpeg');
    {% endfilter %}})();//]]></script>
			<div id="bb-29b-content">
{{gpress.page.body}}
			</div>