{% load i18n %}			<div id="bb-29b-footer"> 
				<table id="bb-29b-footer-table">
					<tr>
                        <td><a href="/news" title="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast - {% trans "NOTIZIE" %}">{% trans "NOTIZIE" %}</a></td>
						<td><a href="/bed-and-breakfast-dove-siamo" title="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast - {% trans "DOVE SIAMO" %}">{% trans "DOVE SIAMO" %}</a></td>
                        <td><a href="/media" title="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast - {% trans "GALLERIA" %}">{% trans "GALLERIA" %}</a></td>
                        <td><a href="/contacts" title="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast - {% trans "CONTATTI" %}">{% trans "CONTATTI" %}</a></td>
                        <td><a href="/links" title="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast - {% trans "COLLEGAMENTI" %}">{% trans "COLLEGAMENTI" %}</a></td>
					</tr>
				</table>
				<div id="bb-29b-footer-copyright">
					Copyright &copy; B&amp;B 29b :: powered by <a href="http://www.gcore.it" title="Powered by g-core" target="_blank">G-Core</a> and <a href="http://www.baruffaldi.info" title="{% trans "Sviluppato da" %} Filippo Baruffaldi" target="_blank">Filippo Baruffaldi</a>
				</div>
				{{gpress.google_analytics_code}}
			</div> 
		</div> 
	</div>
</body> 
</html>