{% load i18n %}			<div id="bb-29b-header">
				<div id="bb-29b-menu-shadow" style="text-align: right;">
					<div id="bb-29b-menu" style="width: 300px;display: inline;height: 300px;">
					<dl>
            <dd class="bb-29b-menu-bar">
							<a accesskey="1" href="/bed-and-breakfast-home" title="{% trans "HOME" %}">
								<img src="/themes/29b/static/images/{{gpress.user.language}}/29b-home.png" alt="{% trans "HOME" %}" />
							</a>
            </dd>
            <dd class="bb-29b-menu-bar">
							<a accesskey="2" href="/bed-and-breakfast-dove-siamo" title="{% trans "DOVE SIAMO" %}">
								<img src="/themes/29b/static/images/{{gpress.user.language}}/29b-dove-siamo.png" alt="{% trans "DOVE SIAMO" %}" />
							</a>
            </dd>
            <dd class="bb-29b-menu-bar">
							<a accesskey="3" href="/bed-and-breakfast-gli-spazi" title="{% trans "GLI SPAZI" %}">
								<img src="/themes/29b/static/images/{{gpress.user.language}}/29b-gli-spazi.png" alt="{% trans "GLI SPAZI" %}" />
							</a>
            </dd>
            <dd class="bb-29b-menu-bar">
							<a accesskey="4" href="/bed-and-breakfast-prezzi-e-servizi" title="{% trans "PREZZI e SERVIZI" %}">
								<img src="/themes/29b/static/images/{{gpress.user.language}}/29b-prezzi-e-servizi.png" alt="{% trans "PREZZI e SERVIZI" %}" />
							</a>
            </dd>
            <dd class="bb-29b-menu-bar">
							<a accesskey="5" href="/media" title="{% trans "GALLERIA" %}">
								<img src="/themes/29b/static/images/{{gpress.user.language}}/29b-gallery.png" alt="{% trans "GALLERIA" %}" />
							</a>
            </dd>
            <dd class="bb-29b-menu-bar">
							<a accesskey="6" href="/links" title="{% trans "COLLEGAMENTI" %}">
								<img src="/themes/29b/static/images/{{gpress.user.language}}/29b-links.png" alt="{% trans "COLLEGAMENTI" %}" />
							</a>
            </dd>
          </dl>
    <script type="text/javascript">//<![CDATA[
    (function(){ {% filter jscompress %}
          var MenuElements = $$('dd[class~="bb-29b-menu-bar"]');
          MenuElements.each(function(item) {
            link = item.childElements()[0]
            if ( link.href != window.location ) {
              GPress.SlideElement(item,false);
              Event.observe(item, 'mouseover', function(event) {
                GPress.SlideElementDown(item.id);
                GPress.SlideElement(this,true);
              });
              Event.observe(item, 'mouseout', function(event) {
                GPress.SlideElementDown();
              });
              
              Event.observe(image, 'mouseout', function(event) {
                GPress.SlideElementDown();
              });
              
              item.id = GPress.GenerateToken();
            } else item.id = 'bb-29b-menu-bar-active';
          });  
    {% endfilter %}})();//]]></script>
					</div>
					<!--<div id="bb-29b-menu-logo">
					 <h1><a href="/" title="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast"><img style="display: inline;width: 100px;" src="/themes/29b/static/images/29b-logo.png" alt="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast" /></a></h1>
					</div>-->
				</div>
			</div>