{% load i18n %}	<!--<div id="bb-29b-main-logo">
		<img src="/themes/29b/static/images/29b-logo.png" alt="B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast" />
	</div>-->
	<div id="bb-29b-main-container">
		<div id="bb-29b-container">