<form action="/gp-admin/users/{% if user.key %}update/{{user.key}}{% else %}add{% endif %}" method="post" id="gpress-admin-form">
{% ifequal gpress.actionstatus -1 %}
    <div class="gpress-error-box">
    Your changes has not been applied.
    {% if gpress.error %}
    <div class="gpress-error-box-details">
        <div class="gpress-error-box-message">
            <b>Details</b>: <i>{{gpress.error.message}}</i>
        </div>
    </div>
    {% endif %}
    </div>
{% endifequal %}
<table class="gpress-admin-form-table">
{% if gpress.actionstatus %}
    <tr>
    <td colspan="2"><div class="gpress-info-box">Your changes has been applied.</div></td>
    </tr>
{% endif %}
{% if user.key %}
	<tr>
	<td>
	  <input type="hidden" name="key" value="{{user.key}}" />
	  Creation date</td>
	<td>{{user.date|date:gpress.site.date_format}} {{user.date|time:gpress.site.time_format}} ({{user.user.nickname}})</td>
	</tr>
	<tr>
	<td>Last update</td>
	<td>{{user.update_date|date:gpress.site.date_format}} {{user.update_date|time:gpress.site.time_format}} ({{user.update_user.nickname}})</td>
	</tr>
{% endif %}
	<tr>
	<td>Name</td>
	<td><input type="text" name="name" size="32" value="{{user.name}}" /></td>
	</tr>
	<tr>
	<td>E-mail</td>
	<td><input type="text" name="email" size="32" value="{{user.email}}"{% ifequal user.rank 0 %} disabled="disabled"{% endifequal %} /></td>
	</tr>
	<tr>
	<td>Rank</td>
	<td>
	<input type="radio" name="rank" value="-1"{% if not gpress.user.is_operator %} disabled="disabled"{% endif %}{% ifequal user.rank -1 %} checked="checked"{% endifequal %} /> Banned<br />
	<input type="radio" name="rank" value="2"{% if not gpress.user.is_contributor %} disabled="disabled"{% endif %}{% ifequal user.rank 2 %} checked="checked"{% endifequal %} /> Normal User<br />
	<input type="radio" name="rank" value="3"{% if not gpress.user.is_contributor %} disabled="disabled"{% endif %}{% ifequal user.rank 3 %} checked="checked"{% endifequal %} /> Contributor<br />
	<input type="radio" name="rank" value="4"{% if not gpress.user.is_operator %} disabled="disabled"{% endif %}{% ifequal user.rank 4 %} checked="checked"{% endifequal %} /> Operator<br />
	<input type="radio" name="rank" value="5"{% if not gpress.user.is_administrator %} disabled="disabled"{% endif %}{% ifequal user.rank 5 %} checked="checked"{% endifequal %} /> Administrator<br />
	<input type="radio" name="rank" value="6"{% if not gpress.user.is_developer %} disabled="disabled"{% endif %}{% ifequal user.rank 6 %} checked="checked"{% endifequal %} /> Developer<br />
	<input type="radio" name="rank" value="0" disabled="disabled"{% ifequal user.rank 0 %} checked="checked"{% endifequal %} /> Anonymous<br />
    <input type="radio" name="rank" value="1" disabled="disabled"{% ifequal user.rank 1 %} checked="checked"{% endifequal %} /> Google-User
	</td>
	</tr>
	{% if gpress.user.is_operator %}
    <tr>
    <td>Receives users messages</td>
        <td><input type="checkbox" name="users_messages" value="1"{% if user.users_messages %} checked="checked"{% endif %} /></td>
    </tr>
    <tr>
    <td>Receives feedbacks from the site's public form</td>
        <td><input type="checkbox" name="site_messages" value="1"{% if user.site_messages %} checked="checked"{% endif %} /></td>
    </tr>
    <tr>
    <td>Receives site notification emails</td>
        <td><input type="checkbox" name="site_emails" value="1"{% if user.site_emails %} checked="checked"{% endif %} /></td>
    </tr>
    {% endif %}
	<tr>
	   <td colspan="2" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
	</tr>
	</table>
</form>

            {% if user.posts %}
            </div>
            <div class="gpress-admin-content-box">
            <h2>Posts</h2>
                <form action="/gp-admin/posts" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/posts/sort/public" title="Sort by: status">Public</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/posts/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/posts/sort/permalink" title="Sort by: permalink">Permalink</a></th>
                    <th><a href="/gp-admin/posts/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/posts/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for post in user.posts %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{post.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{post.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{post.public|yesno:"Yes,No"}}.png" alt="{{post.public|yesno:"Yes,No"}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if post.title %}{{post.title}}{% else %}No title{% endif %}</td>
                    <td>{{post.permalink}}</td>
                    <td>{{post.date|date:gpress.site.date_format}}</td>
                    <td>{{post.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="link_{{post.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/posts/update/{{post.key}}" title="Edit this post">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/blog/{% if post.permalink %}{{post.permalink}}{% else %}{{post.key}}{% endif %}" title="Go to the post location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /><input style="display:inline;width:37px;" type="submit" name="set_draft" value="Draft" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
            {% endif %}
            
                        {% if user.pages %}
            </div>
            <div class="gpress-admin-content-box">
            <h2>Pages</h2>
                <form action="/gp-admin/pages" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <!-- Javascript: if checked, appears a link in order to delete ALL db entities -->
                    <th><a href="/gp-admin/pages/sort/public" title="Sort by: status">Public</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/pages/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/pages/sort/permalink" title="Sort by: permalink">Permalink</a></th>
                    <th><a href="/gp-admin/pages/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/pages/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for page in user.pages %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{page.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{page.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{page.public|yesno:"Yes,No"}}.png" alt="{{page.public|yesno:"Yes,No"}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if page.title %}{{page.title}}{% else %}No title{% endif %}</td>
                    <td>{{page.permalink}}</td>
                    <td>{{page.date|date:gpress.site.date_format}}</td>
                    <td>{{page.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="link_{{page.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/pages/update/{{page.key}}" title="Edit this post">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/{% if page.permalink %}{{page.permalink}}{% else %}{{page.key}}{% endif %}" title="Go to the post location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /><input style="display:inline;width:37px;" type="submit" name="set_draft" value="Draft" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        
                <!--<p style="float: left; text-align: left;">
                    <input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
                </p>-->
            {% endif %}
                        {% if user.media %}
            </div>
            <div class="gpress-admin-content-box">
            <h2>Media</h2>
                <form action="/gp-admin/media" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/media/sort/public" title="Sort by: status">Status</a></th>
                    <th><a href="/gp-admin/media/sort/author" title="Sort by: mimetype">Type</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/media/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/media/sort/mediasize" title="Sort by: size">Size</a></th>
                    <th><a href="/gp-admin/media/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/media/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for media in user.media %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{media.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{media.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{media.public|yesno:"Yes,No"}}.png" alt="{{media.public|yesno:"Yes,No"}}" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}{{media.mimetype_image}}" alt="{{media.mimetype}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if media.title %}{{media.title}}{% else %}No title{% endif %}</td>
                    <td>{{media.size|filesizeformat}}</td>
                    <td>{{media.date|date:gpress.site.date_format}}</td>
                    <td>{{media.update_date|date:gpress.site.date_format}}</td>
                    <!--<td>{{media.user}}</td>
                    <td>{{media.medianame}}</td>
                    <td>{{media.permalink}}</td>-->
                    <td><a id="link_{{media.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/media/update/{{media.key}}" title="Edit this media">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/media/{% if media.permalink %}{{media.permalink}}{% else %}{{media.key}}{% endif %}" title="Download this media" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        
                <!--<p style="float: left; text-align: left;">
                    <input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
                </p>-->
                </form>
            {% endif %}
                        {% if user.links %}
            </div>
            <div class="gpress-admin-content-box">
            <h2>Links</h2>
                <form action="/gp-admin/links" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/links/sort/public" title="Sort by: status">Status</a></th>
                    <th colspan="2"></th>
                    <th style="text-align: left;"><a href="/gp-admin/links/sort/title" title="Sort by: title">Title</a></th>
                    <!--<th><a href="/gp-admin/links/sort/permalink" title="Sort by: permalink">Permalink</a></th>-->
                    <th><a href="/gp-admin/links/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/links/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for link in user.links %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{link.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{link.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{link.public|yesno:"Yes,No"}}.png" alt="{{link.public|yesno:"Yes,No"}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td>{{link.favicon}}</td>
                    <td class="gpress-admin-table-title">{% if link.title %}{{link.title}}{% else %}No title{% endif %}</td>
                    <!--<td>{{link.permalink}}</td>-->
                    <td>{{link.date|date:gpress.site.date_format}}</td>
                    <td>{{link.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="link_{{link.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/links/update/{{link.key}}" title="Edit this link">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/links/{% if link.permalink %}{{link.permalink}}{% else %}{{link.key}}{% endif %}" title="Go to the link location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
            </th>
          </tr>
        </table>
            {% endif %}
                        {% if user.files %}
            </div>
            <div class="gpress-admin-content-box">
            <h2>Files</h2>
                <form action="/gp-admin/files" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/files/sort/public" title="Sort by: status">Status</a></th>
                    <th><a href="/gp-admin/files/sort/author" title="Sort by: mimetype">Type</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/files/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/files/sort/filesize" title="Sort by: size">Size</a></th>
                    <th><a href="/gp-admin/files/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/files/sort/update" title="Sort by: last update">Last update</a></th>
                    <!--<th><a href="/gp-admin/files/sort/author" title="Sort by: author">Author</a></th>
                    <th><a href="/gp-admin/files/sort/filename" title="Sort by: filename">Filename</a></th>
                    <th>URL</th>-->
                    <th colspan="2"></th>
                </tr>
                {% for file in user.files %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{file.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{file.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{file.public|yesno:"Yes,No"}}.png" alt="{{file.public|yesno:"Yes,No"}}" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}{{file.mimetype_image}}" alt="{{file.mimetype}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if file.title %}{{file.title}}{% else %}No title{% endif %}</td>
                    <td>{{file.size|filesizeformat}}</td>
                    <td>{{file.date|date:gpress.site.date_format}}</td>
                    <td>{{file.update_date|date:gpress.site.date_format}}</td>
                    <!--<td>{{file.user}}</td>
                    <td>{{file.filename}}</td>
                    <td>{{file.permalink}}</td>-->
                    <td><a id="link_{{file.key}}" class="gpress-admin-button-2 javascript_hide" href="/gp-admin/files/update/{{file.key}}" title="Edit this file">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}" title="Download this file" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
                
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" />
        </th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
            {% endif %}
                        {% if user.contacts %}
            </div>
            <div class="gpress-admin-content-box">
            <h2>Contacts</h2>
                <form action="/gp-admin/contacts" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th style="text-align: left;"><a href="/gp-admin/contacts/sort/name" title="Sort by: title">Name</a></th>
                    <th><a href="/gp-admin/contacts/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/contacts/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for contact in user.contacts %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{contact.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{contact.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{contact.name|default:"No name"}}</td>
                    <td>{{contact.date|date:gpress.site.date_format}}</td>
                    <td>{{contact.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="contact_{{contact.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/contacts/update/{{contact.key}}" title="Edit this contact">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/contacts/{% if contact.permacontact %}{{contact.permacontact}}{% else %}{{contact.key}}{% endif %}" title="Go to the contact location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
            {% endif %}