			{% if users %}
				<form action="" method="post">
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/users/add" title="New user">New user</a>
				</p>
				<table class="gpress-admin-table-list">
				<tr>
                    <th class="select_all-box"></th>
					<th><a href="/gp-admin/users/sort/name"  title="Sort by: name">Name</a></th>
					<th><a href="/gp-admin/users/sort/mail"    title="Sort by: email">E-mail</a></th>
					<th><a href="/gp-admin/users/sort/rank"    title="Sort by: rank">Rank</a></th>
					<th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/posts/gpress-icon-posts-small-active.png" alt="Posts" /></th>
					<th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/pages/gpress-icon-pages-small-active.png" alt="Pages" /></th>
                    <th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/media/gpress-icon-media-small-active.png" alt="Media" /></th>
					<th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/files/gpress-icon-files-small-active.png" alt="Files" /></th>
                    <th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/links/gpress-icon-links-small-active.png" alt="Links" /></th>
                    <th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/contacts/gpress-icon-contacts-small-active.png" alt="Links" /></th>
					<th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small-active.png" alt="Comments" /></th>
					<th><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/guestbook/gpress-icon-guestbook-small-active.png" alt="Guestbook" /></th>
					<th><a href="/gp-admin/users/sort/date" title="Sort by: creation date">Creation date</a></th>
					<th><a href="/gp-admin/users/sort/update" title="Sort by: last update">Last update</a></th>
					<th></th>
				</tr>
				{% for user in users %}
				<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{user.key}}">
				<td class="gpress-admin-table-row-checkbox">{% ifnotequal user.rank 0 %}<input class="all_entities" type="checkbox" name="{{user.key}}" value="1" />{% endifnotequal %}</td>
				<td>{% firstof user.name user.email %}</td>
				<td><b>{{user.email}}</b></td>
				<td style="text-align: center;">
				{% ifequal user.rank -1 %}
					Banned
				{% endifequal %}
				{% ifequal user.rank 0 %}
					Anonymous
				{% endifequal %}
				{% ifequal user.rank 1 %}
					Google User
				{% endifequal %}
				{% ifequal user.rank 2 %}
					User
				{% endifequal %}
				{% ifequal user.rank 3 %}
					Contributor
				{% endifequal %}
                {% ifequal user.rank 4 %}
                    Operator
                {% endifequal %}
                {% ifequal user.rank 5 %}
                    Administrator
                {% endifequal %}
                {% ifequal user.rank 6 %}
                    Developer
                {% endifequal %}
				</td>
				<td class="gpress-admin-table-comments">{{user.posts_count}}</td>
				<td class="gpress-admin-table-comments">{{user.pages_count}}</td>
        <td class="gpress-admin-table-comments">{{user.media_count}}</td>
        <td class="gpress-admin-table-comments">{{user.files_count}}</td>
                <td class="gpress-admin-table-comments">{{user.links_count}}</td>
                <td class="gpress-admin-table-comments">{{user.contacts_count}}</td>
				<td class="gpress-admin-table-comments">{{user.comments}}</td>
				<td class="gpress-admin-table-comments">{{user.guestbook}}</td>
				<td>{{user.date|date:gpress.site.date_format}}</td>
				<td>{{user.update_date|date:gpress.site.date_format}}</td>
				<td><a id="link_{{user.key}}" class="gpress-admin-button-2 javascript_hide" href="/gp-admin/users/update/{{user.key}}" title="Edit this link">Edit</a></td>
				</tr>
				{% endfor %}
				</table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
            <th style="text-align:right;">
                {% if users|length_is:"20" %}
                {% for start in pages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
			{% else %}
				<div class="gpress-courtesy-message">
					<h3>There are no users added.</h3><br />
					<a href="/gp-admin/users/add" title="Add your first user now!">Add your first user now!</a>
				</div>
			{% endif %}