/*
Copyright (c) 2009, Coolminds Laboratory All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
*/

strong
{
  font-weight: bold;
}

/* MAIN */
body
{
  color: #5a575b;

  line-height:1;
  font-family: arial, sans-serif;
  font-size: 13px;

  //-webkit-background-clip: border-box;
  //-webkit-background-origin: padding-box;


  background-image: url('/themes/29b/static/images/29b-body-background.jpg');
  background-position: bottom center;
  background-attachment:fixed;
  background-repeat: no-repeat;

  display: block;
}

a, a:active, a:hover
{
  color: #bc47ff;
  text-decoration: none;
}

a:active
{
  text-decoration: underline;
}

a:hover
{
  color: #dea0fe;
  text-decoration: underline;
}

.text-right
{
  text-align: right;
}

#bb-29b-main-container
{
}

#bb-29b-container
{
  margin: 20px auto 0px auto;
  padding: 13px 9px;
  width: 813px;
  height: 563px;
  background-image: url('/themes/29b/static/images/29b-container-box.png');
}

#bb-29b-header
{
  min-height: 221px;
  width: 800px;
  background-image: url('/themes/29b/static/images/page-guestbook.png');
  background-position: 53px bottom;
  background-repeat: no-repeat;
}

#bb-29b-menu-shadow
{
  min-height: 221px;
  background-image: url('/themes/29b/static/images/29b-menu-sfumatura.png');
  background-repeat: repeat-y;
  background-position: 53px 2px;
}

.bb-29b-menu-bar a
{
  display: block;
  height: 20px;
  min-width: 20px;
  padding: 4px;
}


.bb-29b-menu-bar
{
  font-family: impact;
  background-image: url('/themes/29b/static/images/29b-menu-bar.png');
  background-repeat: no-repeat;
  margin-top: 15px;
  height: 25px;
  text-align: right;
  color: white;
  width: 180px;
  padding: 0px 15px 0px 0px;
}

#bb-29b-content
{
/*
  background-color: #ffffff;
------- SFONDO BIANCO O TRASPARENTE???
*/
  height: 203px;
  width: 705px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 27px;
  padding-top: 10px;
  text-align: justify;
  overflow: auto;
  margin-left: 48px;
  line-height: 14px;
}

#bb-29b-footer
{
  margin-top: 29px;
  font-family: impact;
}

#bb-29b-footer-table
{
  width: 100%;
}

#bb-29b-footer-table a,
#bb-29b-footer-copyright a:hover,
#bb-29b-footer-copyright a:visited,
#bb-29b-footer-copyright a:active
{
  color: #5a575b;
}

#bb-29b-footer-table td
{
  text-align: center;
}

#bb-29b-footer-copyright
{
  font-family: arial;
  font-size: 10px;
  margin-top: 20px;
  text-align: center;
}

#bb-29b-footer-copyright a,
#bb-29b-footer-copyright a:hover,
#bb-29b-footer-copyright a:visited,
#bb-29b-footer-copyright a:active
{
  color: #bc47ff;
  text-decoration: none;
}

#bb-29b-main-logo
{
  position: fixed;
  margin-left: 3%;
  margin-top: 55px;
  z-index: -1;
}

#bb-29b-links-table
{
  width: 100%;
}

#bb-29b-links-table td
{
  text-align: center;
}

.bb-29b-link-description
{
  text-align: justify;
/*  margin: 0px auto 10px auto;
  border: 1px dotted #bc47ff;*/
}

#bb-29b-files-list-box
{
  text-align: left;
  margin: 0 auto;
}

#bb-29b-files-list
{
  text-align: left;
  margin: 0 auto;
}

.bb-29b-file-description
{
  text-align: justify;
  margin: 0px auto 10px auto;
  border: 1px dotted #bc47ff;
}

.bb-29b-gallery a
{
  float: left;
}

.bb-29b-gallery img
{
  margin: 5px 5px;
  padding: 5px 5px;
  border: 1px solid #cccccc;
  display: inline;
}

.bb-29b-contacts-table
{
  width: 100%;
}

.bb-29b-contacts-table td
{
  padding: 50px 50px 0px 50px;
}

h2
{
  font-size: 14px;
  font-weight: bold;
  font-family: tahoma;
  color: #111111;
  margin: 3px 0px;
}

h1
{
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin: 5px 0px;
}

#intro-text
{
  text-align: right;
  padding: 30px 5px 30px 0px;
  font-family: impact;
  font-size: 30px;
  color: #df33b3;
  float: right;
}

#intro-header
{
  padding: 30px 0px 30px 5px;
  float: left;
}

* a:hover
{
  text-decoration: none;
}


.bb-29b-article-image
{
  -moz-box-shadow: 4px 4px 7px #888;
  -webkit-box-shadow: 4px 4px 7px #888;
  box-shadow: 4px 4px 7px #888;
}

.bb-29b-article
{

}


.bb-29b-article td
{
vertical-align: top;
padding: 25px;
}

.bb-29b-article p
{
vertical-align: top;
padding: 3px;
}

.bb-29b-article-content
{
  width: 100%;
}







.bb-29b-links-table
{
  width: 100%;
  font-family: tahoma;
}

.bb-29b-links-title
{
  display:inline;
}

.bb-29b-links-line
{
  width: 100%;
  border-top:2px dotted #777777;
  float:right;
}

.bb-29b-links-table td
{
  vertical-align: bottom;
  padding: 7px;
  text-align: left;
}

.bb-29b-links-image
{
  width: 78px;
  text-align: center;
}

.bb-29b-links-table h2,
.bb-29b-links-table a,
.bb-29b-links-table a:active,
.bb-29b-links-table a:hover,
.bb-29b-links-table a:visited
{
  color: #777777;
  font-weight: bold;
  font-size: 14px;
}


.bb-29b-links-table h2
{
  font-size: 12px;
}

.bb-29b-links-table a
{
  float: left;
}



.bb-29b-link h2,
.bb-29b-link a,
.bb-29b-link a:active,
.bb-29b-link a:hover,
.bb-29b-link a:visited
{
  color: #777777;
  font-weight: bold;
}


.bb-29b-link-image
{
  -moz-box-shadow: 4px 4px 7px #888;
  -webkit-box-shadow: 4px 4px 7px #888;
  box-shadow: 4px 4px 7px #888;
}

.bb-29b-link
{

}

.bb-29b-link td
{
vertical-align: top;
padding: 25px;
}

.bb-29b-link p
{
vertical-align: top;
padding: 3px;
}

.bb-29b-link-content
{
  width: 100%;
}
