			{% if posts %}
				<form action="" method="post">
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/posts/add" title="Write a new post">Write a new post</a>
				</p>
            <h2>Contents</h2>
				<table class="gpress-admin-table-list">
				<tr>
                    <th class="select_all-box" id="all_entities"></th>
                    <th><a href="/gp-admin/posts?sort=publish_status" title="Sort by: publish_status">Pub</a></th>
					<th></th>
					<th style="text-align: left;"><a href="/gp-admin/posts?sort=title" title="Sort by: title">Title</a></th>
					<th><a href="/gp-admin/posts?sort=permalink" title="Sort by: permalink">Permalink</a></th>
					<th><a href="/gp-admin/posts?sort=date" title="Sort by: creation date">Publish date</a></th>
					<th><a href="/gp-admin/posts?sort=update" title="Sort by: last update">Last update</a></th>
					<th colspan="2"></th>
				</tr>
                {% regroup posts by language as contents %}
                {% for lang in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="9" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{lang.grouper|default:"Unlocalized"}}</th>
                </tr>
                {% for post in lang.list %}
				<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{post.key}}">
					<td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{post.key}}" value="1" /></td>
                    <td class="gpress-admin-table-row-checkbox">
                    {% ifequal post.publish_status -1 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-No.png" alt="Draft" />
                    {% endifequal %}
                    {% ifequal post.publish_status 0 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-Unlocked.png" alt="Not listed" />
                    {% endifequal %}
                    {% ifequal post.publish_status 1 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-Yes.png" alt="Published" />
                    {% endifequal %}
                    </td>
					<td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');">0</td>
					<td class="gpress-admin-table-title">{{post.title|default:"No title"}}</td>
					<td class="gpress-admin-table-permalink">{{post.permalink}}</td>
                    <td>{% if post.publish_date %}{{post.publish_date|date:gpress.site.date_format}}{% else %}Draft{% endif %}</td>
					<td>{{post.update_date|date:gpress.site.date_format}}</td>
					<td><a id="link_{{post.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/posts/update/{{post.key}}" title="Edit this post">Edit</a></td>
					<td><a class="gpress-admin-button-2" href="/blog/{% if post.permalink %}{{post.permalink}}{% else %}{{post.key}}{% endif %}" title="Go to the post location" target="_blank">Open</a></td>
				</tr>
				{% endfor %}{% endfor %}
				</table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /><input style="display:inline;width:37px;" type="submit" name="set_draft" value="Draft" /></th>
            <th style="text-align:right;">
                {% if posts|length_is:"20" %}
                {% for start in pages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
			{% else %}
				<div class="gpress-courtesy-message">
					<h3>There are no posts added.</h3><br />
					<a href="/gp-admin/posts/add" title="Add your first post now!">Add your first post now!</a>
				</div>
			{% endif %}
            
            {% if gpress.contents.posts_categories %}
            <h2>Categories</h2>
                <form action="" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box" id="all_entities_"></th>
                    <th style="text-align: left;"><a href="/gp-admin/files?sort=title" title="Sort by: title">Title</a></th>
                    <th>Contents</th>
                    <th><a href="/gp-admin/files?sort=date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/files?sort=update" title="Sort by: last update">Last update</a></th>
                </tr>
                {% for cat in gpress.contents.posts_categories %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{file.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities_" type="checkbox" name="{{cat.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{cat.title|default:"No title"}}</td>
                    <td class="gpress-admin-table-row-checkbox">{{cat.contents_count}}</td>
                    <td>{{cat.date|date:gpress.site.date_format}}</td>
                    <td>{{cat.update_date|date:gpress.site.date_format}}</td>
                </tr>
                {% endfor %}
                </table>
                
        <table class="gpress-admin-table-list" style="margin: -5px 0px 10px 0px;">
        <tr>
        <th class="select_all-box" id="all_entities_"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete_categories" value="Delete" /></th>
         </tr>
        </table>
       </form>
            {% endif %}