<table class="fullwidth"><tr><td class="padding_5">
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/news/add" title="Add a news">Add news</a>
                </p><br />
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/posts/add" title="Add a post">Add post</a>
                </p><br />
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/pages/add" title="Add a page">Add page</a>
				</p><br />
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/media/add" title="Add a media">Add media</a>
                </p><br />
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/files/add" title="Add a file">Add file</a>
				</p><br />
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/links/add" title="Add a link">Add link</a>
                </p><br />
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/contacts/add" title="Add a contact">Add contact</a>
                </p><br />
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/mailbox/send" title="Send a message">Send a message</a>
                </p>
				</td><td class="padding_5">
				<h2>Settings</h2>
				<table class="gpress-admin-table-list">
				{% for option in gpress.site.template_vars %}
					{% ifnotequal option.name 'plugins' %}
						<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
							<th style="text-align: right;">{{option.name}}</th>
							<td style="text-align: left;border-bottom: 2px solid #ffffff;">{{option.value|default:"Not set"}}</td>
						</tr>
					{% endifnotequal %}
				{% endfor %}
				</table>
				</td></tr>
                            {% if gpress.user.messages %}
            <tr><td class="padding_5" colspan="2">
                <form action="/gp-admin/mailbox" method="post">
            <h2>Messages</h2>
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box" id="all_entities"></th>
                    <th><a href="/gp-admin/mailbox?sort=date" title="Sort by: date">Date</a></th>
                    <th>Source</th>
                    <th style="text-align: left;"><a href="/gp-admin/mailbox?sort=title" title="Sort by: title">Reference</a></th>
                    <th></th>
                </tr>
                {% regroup gpress.user.messages by user as contents %}
                {% for msgs in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="5" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{msgs.grouper|default:"Public Form Messages"}}</th>
                </tr>
                {% for message in msgs.list %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{message.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{message.key}}" value="1" /></td>
                    <td>{{message.date|date:gpress.site.date_format}}</td>
                    <td class="gpress-admin-table-title">{{message.user|default:"Anonymous"}}</td>
                    <td class="gpress-admin-table-permalink">{{message.reference|default:"Unknown"}}</td>
                    <td><a id="link_{{message.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/mailbox/{{message.key}}" title="Open this message">Open</a></td>
                </tr>
                {% endfor %}{% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        </th>
            <th style="text-align:right;">
                {% if gpress.user.messages|length_is:"20" %}
                {% for start in gpress.user.messages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
        </td></tr>
            {% endif %}
				
            {% if gpress.user.posts %}
            <tr><td class="padding_5" colspan="2">
            <h2>Posts</h2>
                <form action="/gp-admin/posts" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/posts/sort/public" title="Sort by: status">Public</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/posts/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/posts/sort/permalink" title="Sort by: permalink">Permalink</a></th>
                    <th><a href="/gp-admin/posts/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/posts/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for post in gpress.user.posts %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{post.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{post.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{post.public|yesno:"Yes,No"}}.png" alt="{{post.public|yesno:"Yes,No"}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if post.title %}{{post.title}}{% else %}No title{% endif %}</td>
                    <td>{{post.permalink}}</td>
                    <td>{{post.date|date:gpress.site.date_format}}</td>
                    <td>{{post.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="link_{{post.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/posts/update/{{post.key}}" title="Edit this post">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/blog/{% if post.permalink %}{{post.permalink}}{% else %}{{post.key}}{% endif %}" title="Go to the post location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /><input style="display:inline;width:37px;" type="submit" name="set_draft" value="Draft" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        </td></tr>
            {% endif %}
            
                        {% if gpress.user.pages %}
            <tr><td class="padding_5" colspan="2">
            <h2>Pages</h2>
                <form action="/gp-admin/pages" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <!-- Javascript: if checked, appears a link in order to delete ALL db entities -->
                    <th><a href="/gp-admin/pages/sort/public" title="Sort by: status">Public</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/pages/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/pages/sort/permalink" title="Sort by: permalink">Permalink</a></th>
                    <th><a href="/gp-admin/pages/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/pages/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for page in gpress.user.pages %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{page.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{page.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{page.public|yesno:"Yes,No"}}.png" alt="{{page.public|yesno:"Yes,No"}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if page.title %}{{page.title}}{% else %}No title{% endif %}</td>
                    <td>{{page.permalink}}</td>
                    <td>{{page.date|date:gpress.site.date_format}}</td>
                    <td>{{page.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="link_{{page.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/pages/update/{{page.key}}" title="Edit this post">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/{% if page.permalink %}{{page.permalink}}{% else %}{{page.key}}{% endif %}" title="Go to the post location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /><input style="display:inline;width:37px;" type="submit" name="set_draft" value="Draft" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        
                <!--<p style="float: left; text-align: left;">
                    <input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
                </p>-->
        </td></tr>
            {% endif %}
                        {% if gpress.user.media %}
            <tr><td class="padding_5" colspan="2">
            <h2>Media</h2>
                <form action="/gp-admin/media" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/media/sort/public" title="Sort by: status">Status</a></th>
                    <th><a href="/gp-admin/media/sort/author" title="Sort by: mimetype">Type</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/media/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/media/sort/mediasize" title="Sort by: size">Size</a></th>
                    <th><a href="/gp-admin/media/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/media/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for media in gpress.user.media %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{media.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{media.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{media.public|yesno:"Yes,No"}}.png" alt="{{media.public|yesno:"Yes,No"}}" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}{{media.mimetype_image}}" alt="{{media.mimetype}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if media.title %}{{media.title}}{% else %}No title{% endif %}</td>
                    <td>{{media.size|filesizeformat}}</td>
                    <td>{{media.date|date:gpress.site.date_format}}</td>
                    <td>{{media.update_date|date:gpress.site.date_format}}</td>
                    <!--<td>{{media.user}}</td>
                    <td>{{media.medianame}}</td>
                    <td>{{media.permalink}}</td>-->
                    <td><a id="link_{{media.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/media/update/{{media.key}}" title="Edit this media">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/media/{% if media.permalink %}{{media.permalink}}{% else %}{{media.key}}{% endif %}" title="Download this media" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        
                <!--<p style="float: left; text-align: left;">
                    <input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
                </p>-->
                </form>
        </td></tr>
            {% endif %}
                        {% if gpress.user.links %}
            <tr><td class="padding_5" colspan="2">
            <h2>Links</h2>
                <form action="/gp-admin/links" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/links/sort/public" title="Sort by: status">Status</a></th>
                    <th colspan="2"></th>
                    <th style="text-align: left;"><a href="/gp-admin/links/sort/title" title="Sort by: title">Title</a></th>
                    <!--<th><a href="/gp-admin/links/sort/permalink" title="Sort by: permalink">Permalink</a></th>-->
                    <th><a href="/gp-admin/links/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/links/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for link in gpress.user.links %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{link.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{link.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{link.public|yesno:"Yes,No"}}.png" alt="{{link.public|yesno:"Yes,No"}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td>{{link.favicon}}</td>
                    <td class="gpress-admin-table-title">{% if link.title %}{{link.title}}{% else %}No title{% endif %}</td>
                    <!--<td>{{link.permalink}}</td>-->
                    <td>{{link.date|date:gpress.site.date_format}}</td>
                    <td>{{link.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="link_{{link.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/links/update/{{link.key}}" title="Edit this link">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/links/{% if link.permalink %}{{link.permalink}}{% else %}{{link.key}}{% endif %}" title="Go to the link location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
            </th>
          </tr>
        </table>
        </td></tr>
            {% endif %}
                        {% if gpress.user.files %}
            <tr><td class="padding_5" colspan="2">
            <h2>Files</h2>
                <form action="/gp-admin/files" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/files/sort/public" title="Sort by: status">Status</a></th>
                    <th><a href="/gp-admin/files/sort/author" title="Sort by: mimetype">Type</a></th>
                    <th></th>
                    <th style="text-align: left;"><a href="/gp-admin/files/sort/title" title="Sort by: title">Title</a></th>
                    <th><a href="/gp-admin/files/sort/filesize" title="Sort by: size">Size</a></th>
                    <th><a href="/gp-admin/files/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/files/sort/update" title="Sort by: last update">Last update</a></th>
                    <!--<th><a href="/gp-admin/files/sort/author" title="Sort by: author">Author</a></th>
                    <th><a href="/gp-admin/files/sort/filename" title="Sort by: filename">Filename</a></th>
                    <th>URL</th>-->
                    <th colspan="2"></th>
                </tr>
                {% for file in gpress.user.files %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{file.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{file.key}}" value="1" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{file.public|yesno:"Yes,No"}}.png" alt="{{file.public|yesno:"Yes,No"}}" /></td>
                    <td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}{{file.mimetype_image}}" alt="{{file.mimetype}}" /></td>
                    <td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
                    <td class="gpress-admin-table-title">{% if file.title %}{{file.title}}{% else %}No title{% endif %}</td>
                    <td>{{file.size|filesizeformat}}</td>
                    <td>{{file.date|date:gpress.site.date_format}}</td>
                    <td>{{file.update_date|date:gpress.site.date_format}}</td>
                    <!--<td>{{file.user}}</td>
                    <td>{{file.filename}}</td>
                    <td>{{file.permalink}}</td>-->
                    <td><a id="link_{{file.key}}" class="gpress-admin-button-2 javascript_hide" href="/gp-admin/files/update/{{file.key}}" title="Edit this file">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}" title="Download this file" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
                
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" />
        </th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        </td></tr>
            {% endif %}
                        {% if gpress.user.contacts %}
            <tr><td class="padding_5" colspan="2">
            <h2>Contacts</h2>
                <form action="/gp-admin/contacts" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box"></th>
                    <th style="text-align: left;"><a href="/gp-admin/contacts/sort/name" title="Sort by: title">Name</a></th>
                    <th><a href="/gp-admin/contacts/sort/date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/contacts/sort/update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% for contact in gpress.user.contacts %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{contact.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{contact.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{contact.name|default:"No name"}}</td>
                    <td>{{contact.date|date:gpress.site.date_format}}</td>
                    <td>{{contact.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="contact_{{contact.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/contacts/update/{{contact.key}}" title="Edit this contact">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/contacts/{% if contact.permacontact %}{{contact.permacontact}}{% else %}{{contact.key}}{% endif %}" title="Go to the contact location" target="_blank">Open</a></td>
                </tr>
                {% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /></th>
            <th style="text-align:right;">
            </th>
          </tr>
        </table>
        </td></tr>
            {% endif %}
    </table>