<table id="extrema-ratio-links-table">
	<tr>
		<td>
			{{file.html}}
		</td>
		<td>
			<h2>{{file.title}}</h2><br />
			<a href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}/download" title="{{file.title}}">Click here to view this file</a><br />
			<a href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}/download?forced=1" title="{{file.title}}">Click here to download this file</a><br />
			( {{file.counter}} hit{{file.counter|pluralize:"s"}} )<br />
			<p class="extrema-ratio-link-description">
				{{file.description}}
			</p>
		</td>
	</tr>
</table>