<table id="extrema-ratio-links-table">
{% for link in links %}
	{% cycle <tr><td>,<td>,<td> %}
	{{link.code}}
	<a href="/links/{% firstof link.permalink link.key %}" title="{{link.title|default:"No Title"}}"><h2>{{link.title|default:"No title"}}</h2></a><br />
	<p class="extrema-ratio-link-description">
		{{link.description|default:"No description"}}
	</p>
	{% cycle </td>,</td>,</td></tr>, %}
{% endfor %}
</table>
-->
<table id="extrema-ratio-links-table">
{% for link in links %}
  <tr>
  <td style="text-align: left;">
  <h2>{{link.url}}</h2>
  <p style="width: 85%;border-bottom: 2px dotted #333333;margin-top:1px;text-align:right;">
  &nbsp;
  </p>
  <p style="margin-top:-20px;text-align:right;float:right;">
  <a href="/links/{% firstof link.permalink link.key %}" title="Leggi tutto l'articolo">leggi tutto l'articolo</a>
  </p>
  </td></tr>
{% endfor %}
</table>