    <div id="content">
      <div id="banner"><img src="images/img07.jpg" alt="" /></div>
      <div class="article">
        <h2 class="title"><a href="#">Lorem ipsum dolor sit amet </a></h2>
        <p class="meta">Aliquam sit amet tempus sed consequat</p>
        <div class="entry">

          <p class="links"><a href="#" class="more">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="comments">Comments (33)</a></p>
        </div>
      </div>
    {% for article in news %}
    {% include 'news-article.html' %}
    {% endfor %}
      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #content -->
    <div id="sidebar">
      <ul>
        <li>
          <h2>Veroeros sit dolore</h2>
          <p><strong>Donec turpis orci</strong> facilisis et ornare eget, sagittis eu massa. Quisque dui diam, euismod et lobortis sed etiam lorem ipsum dolor etiam nullam et faucibus. <a href="#">More&#8230;</a></p>
        </li>
        <li>
          <h2>Categories</h2>
          <ul>
            <li><span>09.13.09</span><a href="#">Vestibulum risus vitae</a></li>
            <li><span>09.13.09</span><a href="#">Condimentum et molestie</a></li>
            <li><span>09.13.09</span><a href="#">Facilisis sed vestibulum</a></li>
            <li><span>09.13.09</span><a href="#">Ipsum primis et sed luctus </a></li>
            <li><span>09.13.09</span><a href="#">Ultrices posuere nulla </a></li>
            <li><span>09.13.09</span><a href="#">Accumsan lorem sodales </a></li>
            <li><span>09.13.09</span><a href="#">Scelerisque consectetur </a></li>
            <li><span>09.13.09</span><a href="#">Maecenas quam aliquet</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
    

<!-- paging -->