<div class="post">
  <h2 class="title"><a href="{{page.view_url}}">{{page.title}}</a></h2>
  {% if page.reference %}<p class="meta">{{page.reference.title}}</p>{% endif %}
  <div class="entry">
    {{page.body}}
  </div>
</div>
<div style="clear: both;">&nbsp;</div>