{% for page in pages %}
<hr />
{{page.user}}<br />
{{page.date}}<br />
{{page.update}}<br />
{{page.update_user}}<br />
{{page.feed_shared}}<br />
{{page.sitemap_shared}}<br />
{{page.sitemap_priority}}<br />
{{page.permalink}}<br />
{{page.protection_level}}<br />
{{page.language}}<br />
{{page.title}}<br />
{{page.body}}<br />
{{page.public}}<br />
{% endfor %}