<form action="/gp-admin/contacts/{% if contact.key %}update/{{contact.key}}{% else %}add{% endif %}" method="post" id="gpress-admin-form">
<input type="hidden" name="key" value="{{contact.key}}" />
{% ifequal gpress.actionstatus -1 %}
    <div class="gpress-error-box">
    Your changes has not been applied.
    {% if gpress.error %}
    <div class="gpress-error-box-details">
        <div class="gpress-error-box-message">
            <b>Details</b>: <i>{{gpress.error.message}}</i>
        </div>
    </div>
    {% endif %}
    </div>
{% endifequal %}
<table class="gpress-admin-form-table">
{% if gpress.actionstatus %}
    <tr>
    <td colspan="2"><div class="gpress-info-box">Your changes has been applied.</div></td>
    </tr>
{% endif %}
{% if contact.key %}
	<tr>
	<td colspan="2" style="text-align: center;">{{contact.code}}</td>
	</tr>
  <tr>
  <td class="gpress-admin-form-table-cell">Contact image</td>
  <td class="gpress-admin-form-table-cell">
  <select name="image">
    <option value=""></option>
    {% for image in media %}
      <option value="{{image.key}}" {% ifequal contact.image image.key %}checked="checked"{% endifequal %}>{% firstof image.title image.permacontact %}</option>
    {% endfor %}
  </select>
  </td>
  </tr><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{contact.date}}" />
    {#{{contact.date|date:gpress.site.date_format}}#} {#{{contact.date|time:gpress.site.time_format}}#} ({#{{contact.user.nickname}}#})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{contact.update_date}}" />
    {#{{contact.update_date|date:gpress.site.date_format}}#} {#{{contact.update_date|time:gpress.site.time_format}}#} ({#{{contact.update_user.nickname}}#})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>-->
{% endif %}
	<tr>
	<td class="gpress-admin-form-table-cell">Name</td>
	<td class="gpress-admin-form-table-cell"><input type="text" name="name" size="32" value="{{contact.name}}" /></td>
	</tr>
	<tr>
	<td class="gpress-admin-form-table-cell">Address</td>
	<td class="gpress-admin-form-table-cell"><input type="text" name="address" size="32" value="{{contact.address}}" /></td>
	</tr>
	<tr>
	<td class="gpress-admin-form-table-cell">Location</td>
	<td class="gpress-admin-form-table-cell"><input type="text" name="location" size="32" value="{{contact.location}}" /></td>
	</tr>
    <tr>
    <td class="gpress-admin-form-table-cell">CAP</td>
    <td class="gpress-admin-form-table-cell"><input type="text" name="cap" size="32" value="{{contact.cap}}" /></td>
    </tr>
    <tr>
    <td class="gpress-admin-form-table-cell">State</td>
    <td class="gpress-admin-form-table-cell"><input type="text" name="state" size="32" value="{{contact.state}}" /></td>
    </tr>
    <tr>
    <td class="gpress-admin-form-table-cell">E-Mail</td>
    <td class="gpress-admin-form-table-cell"><input type="text" name="email" size="32" value="{{contact.email}}" /></td>
    </tr>
    <tr>
    <td class="gpress-admin-form-table-cell">Phone</td>
    <td class="gpress-admin-form-table-cell"><input type="text" name="phone" size="32" value="{{contact.phone}}" /></td>
    </tr>
    <tr>
    <td class="gpress-admin-form-table-cell">Fax</td>
    <td class="gpress-admin-form-table-cell"><input type="text" name="fax" size="32" value="{{contact.fax}}" /></td>
    </tr>
	<tr>
	<td colspan="2" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
	</tr>
	</table>
</form>