			{% if contacts %}
				<form action="" method="post">
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/contacts/add" title="Add a contact">Add contact</a>
				</p>
				<table class="gpress-admin-table-list">
				<tr>
                    <th class="select_all-box"></th>
					<th style="text-align: left;"><a href="/gp-admin/contacts/sort/name" title="Sort by: title">Name</a></th>
					<th><a href="/gp-admin/contacts/sort/date" title="Sort by: creation date">Creation date</a></th>
					<th><a href="/gp-admin/contacts/sort/update" title="Sort by: last update">Last update</a></th>
					<th colspan="2"></th>
				</tr>
				{% for contact in contacts %}
				<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{contact.key}}">
					<td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{contact.key}}" value="1" /></td>
					<td class="gpress-admin-table-title">{{contact.name|default:"No name"}}</td>
					<td>{{contact.date|date:gpress.site.date_format}}</td>
					<td>{{contact.update_date|date:gpress.site.date_format}}</td>
					<td><a id="contact_{{contact.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/contacts/update/{{contact.key}}" title="Edit this contact">Edit</a></td>
					<td><a class="gpress-admin-button-2" href="/contacts/{% if contact.permacontact %}{{contact.permacontact}}{% else %}{{contact.key}}{% endif %}" title="Go to the contact location" target="_blank">Open</a></td>
				</tr>
				{% endfor %}
				</table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /></th>
            <th style="text-align:right;">
                {% if contacts|length_is:"20" %}
                {% for start in pages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
        
                <!--<p style="float: left; text-align: left;">
                    <input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
                </p>-->
			{% else %}
				<div class="gpress-courtesy-message">
					<h3>There are no contacts added.</h3><br />
					<a href="/gp-admin/contacts/add" title="Add your first contact now!">Add your first contact now!</a>
				</div>
			{% endif %}