{% if gpress.site.is_ajax_request %}{{gpress.page.body}}{% else %}<?xml version='1.0' encoding='{{gpress.site.read_encoding}}' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="{{gpress.site.language}}" lang="{{gpress.site.language}}" id="gpress">
    {% include '_shared/_headers.html' %}
    <body style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-admin-bg.jpg');">
        <div id="hidden"></div>
        <div id="gpress-container">
	        <table id="gpress-container-table">
	            <tr>
	                <td id="gpress-container-header" colspan="2">{% include '_shared/header.html' %}</td>
	            </tr>
	            <tr>
	                <td id="gpress-container-menu">{% if gpress.user.is_contributor %}{% include '_shared/menu.html' %}{% endif %}</td>
	                <td id="gpress-container-content">{% include '_shared/content.html' %}</td>
	            </tr>
	            <tr>
	                <td id="gpress-container-footer" colspan="2">{% include '_shared/footer.html' %}</td>
	            </tr>
	        </table>
        </div>
		{% if gpress.site.google_analytics_id %}
			<!-- Google Analytics --> 
			<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("{{gpress.site.google_analytics_id}}");pageTracker._trackPageview();} catch(err) {}</script>
		{% endif %}
    </body>
</html>
{% endif %}