<table id="bb-29b-links-table">
	<tr>
		<td>
			{{file.html}}
		</td>
		<td>
			<h2>{{file.title}}</h2><br />
			<a href="{{file.download_url}}" title="{{file.title}}">Click here to view this file</a><br />
			<a href="{{file.download_url}}?forced=1" title="{{file.title}}">Click here to download this file</a><br />
			( {{file.counter}} hit{{file.counter|pluralize:"s"}} )<br />
			<p class="bb-29b-link-description">
				{{file.description}}
			</p>
		</td>
	</tr>
</table>