<div id="bb-29b-files-list-box">
<dl id="bb-29b-files-list">
{% for file in files %}
	<dt><a href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}" title="{{file.title}}"><h2>{{file.title}}</h2></a></dt>
	<dd class="bb-29b-file-description">
		{{file.description}}
	</dd>
	<dt>&nbsp;</dt>
{% endfor %}
</dl>
</div>
