{% load i18n %}{% include 'shared/headers.html' %}
<style type="text/css">{% filter jscompress %}
body
{
  background-image:url('/themes/29b/static/images/29b-intro-grass.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}
html
{
  background-image:none;
}{% endfilter %}
</style>
<div style="margin: 0 auto;width: 1060px;">
  <div id="intro-header">
    <img style="height: 220px;" src="/themes/29b/static/images/29b-logo-intro.png" alt=""B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast" />
  </div>
  <div id="intro-text">
    <img src="/themes/29b/static/images/{{gpress.user.language}}/29b-intro-welcome.png" alt="{{gpress.site.description}}" /><br />
    <a href="/bed-and-breakfast-home?l=it" title="Entra">
      <img src="/themes/29b/static/images/29b-intro-entra2.png" alt=""B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast :: Entra" />
    </a><br />
    <a href="/bed-and-breakfast-home?l=en" title="Enter">
      <img src="/themes/29b/static/images/29b-intro-enter.png" alt=""B&amp;B 29b - {% trans "Genova" %} - {% trans "Italia" %} - Bed and Breakfast :: Enter" />
    </a>
  </div>
</div>
</body>
</html>