<table class="bb-29b-links-table">
{% regroup links by language as languages %}
{% for link in languages|get_unique_lang:gpress.user.language %}
  <tr>
  <td class="bb-29b-links-image" style="vertical-align:middle;"><img style="width: 64px;" src="{{link.favicon_url}}" alt="" /></td>
  <td style="text-align: left;padding-top:18px;vertical-align:top;">
    <a class="bb-29b-links-title" href="/links/{% firstof link.permalink link.key %}" title="{{link.title}}">{{link.title|upper}}
  <h2 class="bb-29b-links-url">{{link.url|get_url_hostname|lower}}</h2></a><div class="bb-29b-links-line"></div>
  </td></tr>
{% endfor %}
</table>