<table id="bb-29b-link">
<tr class="bb-29b-link link">
  <td class="bb-29b-link-thumbnail">
    <div class="bb-29b-link-image"><img style="width: 200px;" src="{{link.thumbnail_url}}" alt="" /></div>
  </td>
  <td class="bb-29b-link-content">
    <b>{{link.title}}</b>
    <p class="bb-29b-link-description entry">
      {{link.description}}
    </p>
    <p class="bb-29b-link-description meta">
      <a href="{{link.visit_url}}" title="{{link.title}}" />{{link.url|get_url_hostname|lower}}</a>
    </p>
  </td>
</tr>
</table>