<div class="bb-29b-gallery">
{% for album in albums %}
	 {% for m in media|dictsortreversed:"date" %}
		    <a class="lightwindow" params="lightwindow_height=500" href="{{m.download_url}}/{{m.filename}}" title="{{m.title}}..." rel="/\\:;*?<>'”|®™©&#[{{album}}]" author="{{m.update_user}}"> 
		        <img style="height: 200px;" src="{{m.thumbnail_url}}" alt="{{m.description|striptags}}..." />
		    </a>
	 {% endfor %}
 {% endfor %}
</div>