<table id="bb-29b-article">
{% regroup news by language as languages %}
{% for articles in languages %}
{% ifequal articles.grouper gpress.user.language %}
{% for article in articles.list %}
<tr class="bb-29b-article article">
  <td class="bb-29b-article-thumbnail">
    {% if article.image %}<div class="bb-29b-article-image"><img style="width: 230px;" src="{{article.image_url}}" alt="" /></div>{% endif %}
  </td>
  <td class="bb-29b-article-content">
    <b>{{article.title}}</b>
    <p class="bb-29b-article-description entry">
      {{article.body}}
    </p>
    <p class="bb-29b-article-description meta">
      {{article.publish_date}}
      {% for entry in article.attachments %}
        {% if forloop.first %}::{% endif %} 
        <a href="{{entry.view_url}}" title="{{entry.title|default:"No title"}}">{{entry.title|default:"No title"}}</a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
  </td>
</tr>
{% endfor %}
{% endifequal %}
{% endfor %}
</table>