<table id="bb-29b-article">
<tr class="bb-29b-article article">
<td>
  <img src="{{article.image_url}}" alt="" />
</td>
<td>
  <b>{{article.title}}</b><br />
  <p class="bb-29b-article-description entry">
    {{article.body}}
  </p>
  <p class="bb-29b-article-description meta">
    {{article.publish_date|date:gpress.site.date_format}}
    {% for entry in post.attachments %}
      {% if forloop.first %}::{% endif %} 
      <a href="{{entry.view_url}}" title="{{entry.title|default:"No title"}}">{{entry.title|default:"No title"}}</a>
    {% endfor %}
  </p>
</td>
</tr>
</table>