/*
Copyright (c) 2009, Filippo Baruffaldi
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
*/

body
{
  color: #ffffff;

  line-height:1;
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
  
  height:100%;
  width: 100%;
  
  background-position: bottom left;
  background-attachment:fixed;
  background-repeat: repeat-x;
  background-color: #000000;
}

html
{
  height:100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/*
 * CONTAINER
 */

div#gpress-container
{
  text-align:left;
  position: relative;
  height:100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body>div#gpress-container
{
  text-align:left;
  height: auto;
  min-height: 100%;
}

/*
 * HEADER TOP
 */

div#gpress-admin-header
{
  background-color: #3f3e3e;

  text-align: right;

  padding-top: 4px !important;
  padding-right: 7px;
  padding-bottom: 3px !important;
}

.gpress-admin-header-line
{
  height: 0px;
  position: absolute;
  top: 24px;
  width: 100%;
  border-top: 1px solid rgb(201, 215, 241);
  clear: both;
}

div#gpress-admin-header-content
{
  padding-left: 3px;
  padding-top: 1px !important;
  padding-bottom: 7px !important;
}

div#gpress-admin-header-content-left
{
  float: left;
  padding-left: 3px !important;
}

#gpress-admin-header-content-left h1
{
  display: inline;
}

div#gpress-admin-header-content-right
{
  margin: 0px 0px 0px 0px;
}

/*
 * SUB HEADER BAR
 */

div#gpress-admin-sub-header
{
  text-align:left;
  padding-left: 3px !important;
  height: 50px;
  
  background-repeat: repeat-x;
}

#gpress-admin-sub-header img
{
  vertical-align: middle;
}

/*
 * MENU
 */

div#gpress-admin-menu
{
  text-align:left;
  width: 140px;
  filter:alpha(opacity=0.9);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  border: 7px solid #ffffff;
  //background-color: #3f3e3e;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  background-image: url('/images/layout/gpress-admin-content-box.jpg');
  background-position: bottom left;
  background-repeat: repeat-x;
  //background-color: #5a62d4;
  background-color: rgb( 108,108,108 );
  margin-left: 5px;
}

#gpress-admin-menu-list
{
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding: 10px 10px;
}

#gpress-admin-menu-list dd
{
  padding-bottom: 3px !important;
}

#gpress-admin-menu-list dt
{
  font-weight: bold;
  padding-top: 3px !important;
}

#gpress-admin-menu-list a:hover
{
  text-decoration: none;
}

#gpress-admin-menu-list img
{
  vertical-align: middle;
}

.gpress-admin-menu-list-separator
{
  height: 10px;
}

/*
 * CONTENT
 */
div#gpress-admin-content
{
  padding: 0px 5px 0px 5px;
  padding-bottom: 37px !important;
}

#gpress-admin-content h2
{
  font-size: 24px;
  font-family: impact;
}

#gpress-admin-content h3
{
  font-size: 16px;
  font-family: verdana;
}

.gpress-admin-button
{
  border: 1px solid #bc47ff;
  padding: 3px 5px;
  background-color: #555555;
  color: #bc47ff;
  text-decoration: none;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
}

.gpress-admin-button-2
{
  //-webkit-background-clip: border-box;
  //-webkit-background-origin: padding-box;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-box-sizing:content-box;
  background-attachment: scroll;
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
//  border: 2px inset rgb(187, 187, 187);
  border: 1px solid #cccccc;
  color: rgb(70, 70, 70);
  cursor: pointer;
  outline-color: rgb(70, 70, 70);
  outline-style: none;
  outline-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  white-space: nowrap;
  text-align: center;
  min-height: 17px;
  height: 17px;
  margin-bottom: 3px;
  width: 130px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
}

.gpress-admin-button-2 a, .gpress-admin-button-2 a:hover, .gpress-admin-button-2 a:visited, .gpress-admin-button-2 a:active
{
  color: rgb(70, 70, 70);
}
.gpress-admin-button-menu
{
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-box-sizing:content-box;
  background-attachment: scroll;
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  color: rgb(70, 70, 70);
  cursor: pointer;
  outline-color: rgb(70, 70, 70);
  outline-style: none;
  outline-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  white-space: nowrap;
  margin-bottom: 3px;
  margin-left: -3px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
  width:123px;
  min-height: 24px;
  height:24px;
  text-align:left;
  padding: 0px 0px 0px 0px;
}

.gpress-admin-button-menu a, .gpress-admin-button-menu a:hover, .gpress-admin-button-menu a:visited, .gpress-admin-button-menu a:active
{
  color: rgb(70, 70, 70);
}

#gpress-admin-content input[type=text],
#gpress-admin-content input[type=button],
#gpress-admin-content textarea,
#gpress-admin-content select
{
  width: 100%;
  color: #ffffff;
  min-height: 18px;
  padding-top: 2px !important;
  padding-left: 3px !important;
  //border: 1px inset #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
  background-color: rgb(205,218,228);
  color: #333333;
}

#gpress-admin-content input[type=file]
{
  color: #ffffff;
}

#gpress-admin-content input[type=submit]
{
  //-webkit-background-clip: border-box;
  //-webkit-background-origin: padding-box;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-box-sizing:content-box;
  background-attachment: scroll;
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
  //border: 2px inset rgb(187, 187, 187);
  border: 1px solid #cccccc;
  color: rgb(70, 70, 70);
  cursor: pointer;
  outline-color: rgb(70, 70, 70);
  outline-style: none;
  outline-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  white-space: nowrap;
  width: 87px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
}

#gpress-admin-content-icon
{
  margin: 10px 10px 0px 10px;
  height: 64px;
  width: 64px;
  vertical-align: middle;
}

.gpress-admin-content-box
{
  filter:alpha(opacity=0.9);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  border: 7px solid #ffffff;
  //background-color: #3f3e3e;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding: 15px 15px 20px 15px;
  margin-top: 5px;
  background-image: url('/images/layout/gpress-admin-content-box.jpg');
  background-position: bottom left;
  background-repeat: repeat-x;
  //background-color: #5a62d4;
  background-color: rgb( 108,108,108 );
}

.gpress-admin-form-table-cell select
{
  width: 100%;
}


/*
 * LIST TABLE
 */




.gpress-admin-table-list th, td
{
  text-align: center;
  padding: 3px 0px 3px 3px;
  vertical-align: middle;
}

.gpress-admin-table-list
{
  width: 100%;
  margin: 5px 0px;
}

.gpress-admin-comments-icon-small
{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.gpress-admin-table-comments
{
  font-size: 9px;
  font-family: system, sans-serif, arial;
  text-align: center;
  width: 26px;
  min-height: 24px;
  color: #ffffff;
  vertical-align: top;
  padding: 7px 0px 0px 0px;
}

.gpress-admin-table-title
{
  font-size: 14px;
  font-family: courier new;
  text-align: left;
}

.gpress-admin-table-row
{
  min-height: 24px;
  padding: 0px 0px 0px 0px;
  background-image: url('http://www.northcentralinc.com/_images/body_gray_fade.jpg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: rgb(221,221,221);
  border: 1px solid #cccccc;
  color: #333333;
}

.gpress-admin-table-alt-row
{
  min-height: 24px;
  padding: 0px 0px 0px 0px;
  background-image: url('http://images.multiply.com/common/misc/bluegray-gray-fade.png');
  background-repeat: repeat-x;
  background-position: top;
  border: 1px solid #cccccc;
  color: #333333;
}

.gpress-admin-table-active-row
{
  background-image: url('http://www.bsccompression.com.au/skin1/images/bsc/home-category-background.jpg');
  background-repeat: repeat-x;
  background-position: top;
  border: 1px solid #cccccc;
  color: #cc3ccc;
}

.gpress-admin-table-row td,
.gpress-admin-table-alt-row td,
.gpress-admin-table-active-row td,
.gpress-admin-table-row th,
.gpress-admin-table-alt-row th,
.gpress-admin-table-active-row th,
.gpress-admin-table-row,
.gpress-admin-table-alt-row,
.gpress-admin-table-active-row
{
  vertical-align:middle;
  min-height: 24px;
}

.gpress-admin-table-active-row,
.gpress-admin-table-list td
{
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
}

.gpress-admin-table-list th
{
  vertical-align:middle;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
  background-color: rgb(205,218,228);
  border-left: 1px solid #cccccc;
  min-height: 30px;
  font-size: 16px;
  font-family: verdana;
  font-weight: bold;
  padding: 5px;
}

.gpress-admin-table-static-width
{
  font-size: 11px;
  /*width: 150px;*/
  height: 24px;
  max-heigth: 24px;
  min-heigth: 24px;
  overflow: hidden;
}

/*
 * FORM TABLE
 */

.gpress-admin-form-table-section-description
{
  font-size: 13px;
  font-family: georgia;
  text-align: left;
}

.gpress-admin-form-table-section-title
{
  border-bottom: 1px solid #ffffff;
  margin-bottom: 5px;
}

.gpress-admin-form-table
{
  margin: 15px;
  width: 100%;
}

.gpress-admin-form-table-cell
{
  padding: 5px 5px;
  vertical-align: top;
  text-align: left;
}

/*
 * FOOTER
 */

#gpress-admin-footer
{
  clear:both;
  height: 19px;
  width: 100%;
  text-align: right;
  padding: 10px;
  
  background-repeat: repeat-x;
}

div#gpress-admin-footer-spacer
{
  heigth: 30px;
  margin-top: 70px;
  border: 1px solid transparent; // little hack
}

div#gpress-admin-footer-text
{
  float:left;
  padding-left: 7px !important;
  padding-top: 7px !important;
}

#gpress-admin-footer img
{
  padding-bottom: 10px !important;
  margin-right: 10px !important;
}

/* COURTESY MESSAGES & ICONS */

.gpress-courtesy-message
{
  margin-left: 70px;
}

div.gpress-info-box
{
  font-weight: bold;
  color: #44ff67;
  text-align: center;
  margin: 0 auto;
  background-color: #7f7e7e;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding: 10px 0px;
}

.gpress-error-box
{
  font-weight: bold;
  color: red;
  text-align: center;
  margin: 0 auto;
  background-color: #7f7e7e;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding: 10px 0px;
}

#gpress-error-image
{
  float: left;
  width: 150px; 
  height: 150px;
}

.gpress-admin-comments-icon-small
{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* LINKS */

a, a:active, a:hover
{
  color: #bc47ff;
  text-decoration: none;
}

a:active
{
  text-decoration: underline;
}

a:hover
{
  color: #dea0fe;
  text-decoration: underline;
}

.text-right
{
  text-align: right;
}

.text-left
{
  text-align: left;
}

table, td
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.gpress-admin-icon-medium
{
  vertical-align: top;
  width: 70px;
}