/*
Copyright (c) 2009, FilippoBaruffaldi
Code licensed under the BSDLicense:
http://developer.yahoo.net/yui/license.txt
*/

body
{
  height:100%;
  width: 100%;
}

body
{
  line-height: 1;
  font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
  font-size: 12px; 
  background-position: bottom left;
  background-attachment:fixed;
  background-repeat: repeat-x;
}

html
{
}

html
{
/*  background-color: #000000;
  color: #ffffff;*/
}

a, a:hover, a:visited, a:active
{
  color: #bc47ff;
  text-decoration: none;
  text-decoration: none;
}

a:hover
{
  color: #dea0fe;
}

strong
{
  font-weight: bold;
}

/* Inputs */
input[type=text]
{
  padding: 2px;
}

input[type=text]
{
  border: 1px solid #cccccc;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -moz-box-sizing:content-box;

  background-color: rgb(242, 242, 242);
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: middle center;
}

/* Buttons */
input[type=button],
input[type=submit]
{
  padding: 4px;
  text-align: center;
  white-space: nowrap;
}

input[type=button],
input[type=submit]
{
  padding: 3px;
}

input[type=button],
input[type=submit]
{
  border: 1px solid #cccccc;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-box-sizing:content-box;
  color: rgb(70, 70, 70);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  background-color: rgb(242, 242, 242);
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: middle center;
  cursor: pointer;
}

/* Miscellaneous */
.fullwidth
{
  width: 100%;
}

.hidden
{
  display: none;
}

/* JavaScript related */
.select_all-box
{
  width: 22px;
}

.all_entities { }

.javascript_hide { }





/*
Design by nodethirtythree
http://www.nodethirtythree.com/
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #F7F7F7 url('/images/public/img01.jpg') repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #5A554E;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 200%;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}

ul, ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: underline;
	color: #516C00;
}

a:hover {
	text-decoration: none;
}

h2 a {
	text-decoration: none;
}

#wrapper {
	margin: 0px;
	padding: 0px;
	background: url('/images/public/img02.jpg') repeat-x left top;
}

/* Header */

#header {
	width: 1000px;
	height: 235px;
	margin: 0 auto;
	padding: 0px;
	background: url('/images/public/img03.jpg') no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	margin: 0;
	padding: 115px 0px 0px 50px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
	letter-spacing: -1px;
	/*text-transform: lowercase;*/
	font-size: 44px;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin: -30px 0px 0px 0px;
	padding: 26px 0 0 2px;
	font: normal 19px Georgia, "Times New Roman", Times, serif;
	color: #C5E8FF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #C5E8FF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #E2E2E2;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

#banner {
	margin-bottom: 20px;
	border: 12px #ECECEC solid;
}

#page #post #entry img {
	margin-bottom: 20px;
	border: 12px #ECECEC solid;
}

/* Menu */

#menu {
	width: 1000px;
	height: 65px;
	margin: 0 auto;
	padding: 0;
	background: url('/images/public/img04.jpg') no-repeat left top;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 25px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 120px;
	height: 39px;
	margin-left: 10px;
	padding-top: 15px;
	background: url('/images/public/img05.jpg') repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: url('/images/public/img06.jpg') no-repeat left top;
	padding-left: 0;
	color: #493E2B;
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 40px 50px 0px 50px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 570px;
	padding: 0px 0px 0px 0px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	font-size: 36px;
	color: #493E2B;
}

.post .title a {
	color: #493E2B;
	border: none;
}

.post .meta {
	margin: -10px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	letter-spacing: -1px;
	font-size: 23px;
	font-weight: normal;
	color: #6E8D3D;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	background: url('/images/public/img08.jpg') no-repeat left top;
	padding: 25px 0px 0px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
}

.more {
	padding-left: 16px;
	background: url('/images/public/img10.gif') no-repeat left 3px;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}

.comments {
	padding-left: 18px;
	background: url('/images/public/img11.gif') no-repeat left 4px;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 273px;
	padding: 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 20px;
}

#sidebar li li {
	line-height: 35px;
	margin: 0px;
	padding: 2px 0px;
	border-left: none;
}

#sidebar li li span {
	height: 19px;
	margin-right: 16px;
	padding: 4px 12px;
	background: #3D2A0B url('/images/public/img12.jpg') repeat-x left top;
	font-size: 12px;
	color: #FFFFFF;
}

#sidebar li li span a {
	color: #FFFFFF;
}

#sidebar h2 {
	height: 65px;
	background: url('/images/public/img09.jpg') no-repeat left bottom;
	letter-spacing: -.5px;
	font-size: 28px;
	color: #493E2B;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 0px 30px 0px;
	text-align: justify;
}

#sidebar p strong {
	color: #4A3E29;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer-content {
	width: 900px;
	height: 255px;
	margin: 0 auto;
	padding: 60px 50px 0px 50px;
	background: url('/images/public/img15.jpg') no-repeat left top;
	font-size: 12px;
	color: #887450;
}

#footer-content .column1 {
	float: left;
	width: 570px;
}

#footer-content .column2 {
	float: right;
	width: 273px;
}

#footer-content h2 {
	padding-bottom: 10px;
	font-size: 22px;
	color: #E3D2B6;
}

#footer-content strong {
	color: #E3D2B6;
}

#footer-content a {
	color: #AA8B55;
}

#footer-content a:hover {
	color: #AA8B55;
}

.list li {
	margin-bottom: 6px;
}

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #82A2B9;
}

#footer a {
	text-decoration: underline;
	color: #82A2B9;
}