[{{error.code}}] <h2>{{error.title}}</h2><br />

<img id="gpress-error-image" src="/gp-admin/images/errors/{{error.priority}}.png" alt="{{error.priority}}" />

{% if error.description %}
<div id="gpress-error-box">
{{error.description}}
</div>
{% endif %}

{% if error.details %}
<div id="gpress-error-box">
<table>
{% for detail in error.details %}
<tr>
<td style="text-align: right;font-weight: bold;">
{{detail}}
</td>
<td style="text-align: left;">
{{error.details}}
</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}