			{% if messages %}
				<form action="/gp-admin/mailbox" method="post">
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/mailbox/send" title="Write a new message">Send a message</a>
				</p>
            <h2>Messages</h2>
				<table class="gpress-admin-table-list">
				<tr>
                    <th class="select_all-box" id="all_entities"></th>
                    <th><a href="/gp-admin/mailbox?sort=date" title="Sort by: date">Date</a></th>
					<th>Source</th>
					<th style="text-align: left;"><a href="/gp-admin/mailbox?sort=title" title="Sort by: title">Reference</a></th>
					<th></th>
				</tr>
                {% regroup messages by user as contents %}
                {% for msgs in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="5" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{msgs.grouper|default:"Public Form Messages"}}</th>
                </tr>
                {% for message in msgs.list %}
				<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{message.key}}">
					<td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{message.key}}" value="1" /></td>
                    <td>{{message.date|date:gpress.site.date_format}}</td>
					<td class="gpress-admin-table-title">{{message.user|default:"Anonymous"}}</td>
					<td class="gpress-admin-table-permalink">{{message.reference|default:"Unknown"}}</td>
					<td><a id="link_{{message.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/mailbox/{{message.key}}" title="Open this message">Open</a></td>
				</tr>
				{% endfor %}{% endfor %}
				</table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        </th>
            <th style="text-align:right;">
                {% if messages|length_is:"20" %}
                {% for start in messages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
        
                <!--<p style="float: left; text-align: left;">
                    <input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
                </p>-->
			{% else %}
				<div class="gpress-courtesy-message">
					<h3>There are no messages inbox.</h3><br />
					<a href="/gp-admin/mailbox/add" title="Add your first message now!">Send your first message now!</a>
				</div>
			{% endif %}