			{% if files %}
				<form action="" method="post">
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/files/add" title="Add file">Add file</a>
				</p>
            <h2>Contents</h2>
				<table class="gpress-admin-table-list">
				<tr>
                    <th class="select_all-box" id="all_entities"></th>
					<th><a href="/gp-admin/files?sort=publish_status" title="Sort by: publish_status">Pub</a></th>
					<th><a href="/gp-admin/files?sort=author" title="Sort by: mimetype">Type</a></th>
					<th></th>
					<th style="text-align: left;"><a href="/gp-admin/files?sort=title" title="Sort by: title">Title</a></th>
					<th><a href="/gp-admin/files?sort=filesize" title="Sort by: size">Size</a></th>
					<th><a href="/gp-admin/files?sort=date" title="Sort by: creation date">Creation date</a></th>
					<th><a href="/gp-admin/files?sort=update" title="Sort by: last update">Last update</a></th>
					<!--<th><a href="/gp-admin/files?sort=author" title="Sort by: author">Author</a></th>
					<th><a href="/gp-admin/files?sort=filename" title="Sort by: filename">Filename</a></th>
					<th>URL</th>-->
					<th colspan="2"></th>
				</tr>
				{% regroup files by language as contents %}
                {% for lang in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="10" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{lang.grouper|default:"Unlocalized"}}</th>
                </tr>
				{% for file in lang.list %}
				<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{file.key}}">
					<td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{file.key}}" value="1" /></td>
                    <td class="gpress-admin-table-row-checkbox">
                    {% ifequal file.publish_status -1 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-No.png" alt="Draft" />
                    {% endifequal %}
                    {% ifequal file.publish_status 0 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-Unlocked.png" alt="Not listed" />
                    {% endifequal %}
                    {% ifequal file.publish_status 1 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-Yes.png" alt="Published" />
                    {% endifequal %}
					</td>
					<td><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}{{file.mimetype_image}}" alt="{{file.mimetype}}" /></td>
					<td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');background-repeat: no-repeat;background-position: top center;"><!--<img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png" alt="comments" /><br />-->0</td>
					<td class="gpress-admin-table-title">{{file.title|default:"No title"}}</td>
					<td>{{file.size|filesizeformat}}</td>
					<td>{{file.date|date:gpress.site.date_format}}</td>
					<td>{{file.update_date|date:gpress.site.date_format}}</td>
					<!--<td>{{file.user}}</td>
					<td>{{file.filename}}</td>
					<td>{{file.permalink}}</td>-->
					<td><a id="link_{{file.key}}" class="gpress-admin-button-2 javascript_hide2" href="/gp-admin/files/update/{{file.key}}" title="Edit this file">Edit</a></td>
					<td><a class="gpress-admin-button-2" href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}" title="Download this file" target="_blank">Open</a></td>
				</tr>
                {% endfor %}
                {% endfor %}
				</table>
				
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" />
        </th>
            <th style="text-align:right;">
                {% if files|length_is:"20" %}
                {% for start in pages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
        
				<!--<p style="float: left; text-align: left;">
					<input type="submit" name="delete" value="Delete" /> <input type="submit" name="set_public" value="Set public" /> <input type="submit" name="set_private" value="Set private" /> <input type="submit" name="set_draft" value="Set draft" />
				</p>-->
				</form>
			{% else %}
				<div class="gpress-courtesy-message">
					<h3>There are no files added.</h3><br />
					<a href="/gp-admin/files/add" title="Add your first file now!">Add your first file now!</a>
				</div>
			{% endif %}
			
            {% if gpress.contents.files_categories %}
            <h2>Categories</h2>
                <form action="" method="post">
                <table class="gpress-admin-table-list">
                <tr>
                    <th class="select_all-box" id="all_entities_"></th>
                    <th style="text-align: left;"><a href="/gp-admin/files?sort=title" title="Sort by: title">Title</a></th>
                    <th>Contents</th>
                    <th><a href="/gp-admin/files?sort=date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/files?sort=update" title="Sort by: last update">Last update</a></th>
                </tr>
                {% for cat in gpress.contents.files_categories %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{file.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities_" type="checkbox" name="{{cat.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{cat.title|default:"No title"}}</td>
                    <td class="gpress-admin-table-row-checkbox">{{cat.contents_count}}</td>
                    <td>{{cat.date|date:gpress.site.date_format}}</td>
                    <td>{{cat.update_date|date:gpress.site.date_format}}</td>
                </tr>
                {% endfor %}
                </table>
                
        <table class="gpress-admin-table-list" style="margin: -5px 0px 10px 0px;">
        <tr>
        <th class="select_all-box" rel="all_entities_"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete_categories" value="Delete" /></th>
         </tr>
        </table>
       </form>
            {% endif %}