			{% if news %}
				<form action="" method="post">
				<p class="gpress-admin-button-2">
					<a href="/gp-admin/news/add" title="Write a new article">Write a new article</a>
				</p>
            <h2>Contents</h2>
				<table class="gpress-admin-table-list">
				<tr>
                    <th class="select_all-box"></th>
                    <th><a href="/gp-admin/news?sort=publish_status" title="Sort by: publish_status">Pub</a></th>
					<th></th>
					<th style="text-align: left;"><a href="/gp-admin/news?sort=title" title="Sort by: title">Title</a></th>
					<th><a href="/gp-admin/news?sort=permalink" title="Sort by: permalink">Permalink</a></th>
					<th><a href="/gp-admin/news?sort=publish_date" title="Sort by: publish date">Publish date</a></th>
					<th><a href="/gp-admin/news?sort=update" title="Sort by: last update">Last update</a></th>
					<th colspan="2"></th>
				</tr>
                {% regroup news by language as contents %}
                {% for lang in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="9" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{lang.grouper|default:"Unlocalized"}}</th>
                </tr>
                {% for article in lang.list %}
				<tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{article.key}}">
					<td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{article.key}}" value="1" /></td>
                    <td class="gpress-admin-table-row-checkbox">
                    {% ifequal article.publish_status -1 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-No.png" alt="Draft" />
                    {% endifequal %}
                    {% ifequal article.publish_status 0 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-Unlocked.png" alt="Not listed" />
                    {% endifequal %}
                    {% ifequal article.publish_status 1 %}
                    <img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-Yes.png" alt="Published" />
                    {% endifequal %}
                    </td>
					<td class="gpress-admin-table-comments" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small.png');">0</td>
					<td class="gpress-admin-table-title">{{article.title|default:"No title"}}</td>
					<td class="gpress-admin-table-permalink">{{article.permalink}}</td>
                    <td>{% if article.publish_date %}{{article.publish_date|date:gpress.site.date_format}}{% else %}Draft{% endif %}</td>
					<td>{{article.update_date|date:gpress.site.date_format}}</td>
					<td><a id="link_{{article.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/news/update/{{article.key}}" title="Edit this article">Edit</a></td>
					<td><a class="gpress-admin-button-2" href="/blog/{% if article.permalink %}{{article.permalink}}{% else %}{{article.key}}{% endif %}" title="Go to the article location" target="_blank">Open</a></td>
				</tr>
				{% endfor %}{% endfor %}
				</table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:285px;max-width:285px;">
        <input style="display:inline;width:40px;" type="submit" name="set_public" value="Public" /><input style="display:inline;width:70px;" type="submit" name="set_not_listed" value="Not listed" /><input style="display:inline;width:50px;" type="submit" name="set_private" value="Private" /><input style="display:inline;width:37px;" type="submit" name="set_draft" value="Draft" /></th>
            <th style="text-align:right;">
                {% if news|length_is:"20" %}
                {% for start in pages %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
			{% else %}
				<div class="gpress-courtesy-message">
					<h3>There are no news added.</h3><br />
					<a href="/gp-admin/news/add" title="Add your first article now!">Add your first article now!</a>
				</div>
			{% endif %}